#contact {
    .main {
        background-image: url(../images/bg-contact.jpg);
        background-size: cover;
        background-position: center;
    }
}

#requestAccess {
    .main {
        background: url(../images/img-fond-pro.jpg) no-repeat center top;
        background-size: cover;
        background-position: center;
    }
}