#degustation-produits {
    .main {
        background: url(../images/bg-degustation-produits.jpg) no-repeat center top;
        background-color: #FFF;
    }
    .content {
        padding-top: 0;
        width: 1094px;
        height: 630px;
        margin: auto;
    }
    .degustation-home {
        width: 1170px;
        margin: 0 auto;
    }
}