#degustation-produits {
    .main {
        background: url(../images/bg-degustation-produits.jpg) no-repeat center top;
        background-color: #FFF;
        padding: 0px;
    }
    .menu_degustation{
        ul{
            width: 100%;
            text-align: center;
            margin: 0 auto;
        }
        li{
            display: inline;
            position: relative;
            padding: 5px 0;
        }
        .menuLiWithSubMenu a{
                height: 25px;
                padding: 10px 10px 0 10px;
                display: inline-block;
                font-size: 11px;
                font-family: 'Georgia';
                text-transform: uppercase;
                font-weight: bold;
                text-align: left;
            }
        .subMenu li{
            display: inline-block;
            width: 100%;
                a{
                    padding: 0;
                    font-size: 11px;
                    font-family: 'Source Sans Pro';
                    font-weight: normal;
                    text-transform: uppercase;
                    text-align: left;
                }
            }
        }
    .content {
        padding-top: 0;
        width: 1094px;
        height: 630px;
        margin: auto;
    }
    .degustation-home {
        width: 1170px;
        margin: 0 auto;
    }
}