#degustation-produits {
    .degustation-home {
        .content {
            @include media('>=large') {
               background: none;
            }
        }
    }
    @include media('<=small') {
        .blackpage{
            background-color: #000000e8;
        }
    }
    .content{
        .retour, .view, .unview{
            top: 28px;
            svg{
                display: none;
            }
            
        }
        .view, .unview{
            position: absolute;
            opacity: 0.6;
            z-index: 2;
            right: 60px;
            width: 20px;
            height: 20px;
            background: none;
        }
    }
    .main {
        background: url(../images/bg-degustation-produits.jpg) no-repeat center top;
        background-color: #FFF;
        padding: 0px;
    }
    .menu_degustation{
        ul{
            width: 100%;
            text-align: center;
            margin: 0 auto;
        }
        li{
            display: inline;
            position: relative;
            padding: 5px 0;
        }
        .menuLiWithSubMenu a{
                height: 25px;
                padding: 10px 10px 0 10px;
                display: inline-block;
                font-size: 11px;
                font-family: 'Georgia';
                text-transform: uppercase;
                font-weight: bold;
                text-align: left;
            }
        .subMenu li{
            display: inline-block;
            width: 100%;
                a{
                    padding: 0;
                    font-size: 11px;
                    font-family: 'Source Sans Pro';
                    font-weight: normal;
                    text-transform: uppercase;
                    text-align: left;
                }
            }
        }
    .content {
        padding-top: 0;
        width: 1094px;
        height: 630px;
        margin: auto;
    }
    .degustation-home {
        width: 100%;
        margin: 0 auto;
    }
    @include media('<=medium','>small') {
        #slideshow-1{
             padding: 0px;
             margin-left: -100px;
        }
        .cycle-prev, .cycle-next{
                display: none;
        }
    }
    @include media('<=small') {
        .content{
            .retour svg, .view svg{
                fill: #000000;
            }
            .retour svg, .view #viewIcon{
                display: block;
            }
            .view #hideIcon{
                display: none;
            }
        }
        .back{
            display: none;
        }
        .desconly{
            max-height: 500px;
        }
        .degustation-home, .content{
            width: 100%;
        }
        #slideshow-1{
            .content{
                overflow: hidden;
            }
            img{
                position: absolute;
                z-index: 1;
                display: block!important;
                left: -130%;
                opacity: 0.1;
                /*margin: 0 -21.875% 0;*/
            }
            .gastronomy{
                left: -150% !important;
            }
            .cycle-slide-active{
                position: relative;
                width: 100%;
            }
            .cycle-prev, .cycle-next{
                display: none;
            }
            .description{
                width: 300px;
                position: relative;
                left: 0px;
                top: 0px;
                margin: 0 auto;
                padding: 25px;
               
                .sep{
                    display: none;
                }
                .desconly{
                    width: 100%;
                }
            }
            width: 100%;
            height: 100%;
            padding: 0px;
        }
        .table{
            display: block !important;
            padding: 0px;
        }
        td{
            display: block;
            padding: 0px;
        }
    }
}