@import '../node_modules/include-media/dist/include-media';
@import './settings';

.header {
    position: relative;
    background: url('../images/bg-body-head.jpg') no-repeat center;
    @include media('>=medium') {
        padding-bottom: 35px;
    }
    .toggle,
    .facebook {
        position: absolute;
        @include media('>=medium') {
            display: none;
        }
        svg {
            fill: #ffffff;
        }
    }
    .toggle {
        cursor: pointer;
        bottom: 20px;
        right: 20px;
    }
    .facebook {
        top: 20px;
        left: 20px;
    }
    .nav-top {
        @include media('<medium') {
            display: none;
            &.active {
                display: block;
            }
        }
    }
    .logo {
        display: block;
        width: 75px;
        margin: 0 auto;
        padding: 15px;
    }
}
#home {
    .main {
        height: 100%;
        background-image: url(../images/bg-main-hp.jpg);
        background-position: center;
        background-size: cover;
        @include media('<medium') {
            background-image: url(../images/bg-main-hp-mobile.png);
        }
    }
}
.menu-top {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background: url(../images/bg-nav-top.png) no-repeat center top;
    z-index: 1;
    @include media('<medium') {
        display: none;
        flex-direction: column;
        top: 100%;
        bottom: auto;
        padding-top: 10px;
        background: #263742;
        &.active {
            display: flex;
        }
    }
    a {
        display: inline-block;
        margin: 0 25px;
        line-height: 35px;
        font-size: 11px;
        text-transform: uppercase;
        text-decoration: none;
        font-family: 'Georgia';
        letter-spacing: 1px;
        @include media('<medium') {
            line-height: 30px;
        }
        &:hover,
        &.active {
            background: url(../images/bg-lien-degustation.png) no-repeat center 25px;
        }
    }
    .menu-plus {
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        padding: 10px 0;
        background: #1d2a33;
        @include media('>=medium') {
            display: none;
        }
    }
}
.menu-top-right {
    position: absolute;
    right: 20px;
    bottom: 50px;
    font-size: 12px;
    font-family: 'Source Sans Pro';
    text-transform: uppercase;
    text-decoration: none;
    @include media('<medium') {
        display: none;
    }
}
.menu-lang {
    position: absolute;
    left: 20px;
    bottom: 20px;
    font-size: 12px;
    text-transform: uppercase;
    @include media('>=medium') {
        display: none;
    }
    &:after {
        content: '';
        position: absolute;
        top: 3px;
        right: -22px;
        width: 12px;
        height: 6px;
        background-image: url(../images/arrow-down.png);
        background-size: 100%;
    }
}
.menu-pro {
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 12px;
    text-transform: uppercase;
    text-align: right;
    white-space: nowrap;
    @include media('>=medium') {
        display: none;
    }
    &:after {
        content: '';
        position: absolute;
        top: 1px;
        left: -16px;
        width: 6px;
        height: 12px;
        background-image: url(../images/arrow-right.png);
        background-size: 100%;
    }
}
.caroussel-home {
    background: url(../images/bg-caroussel-home.jpg);
    background-size: cover;
    background-position: center;
    .video-news-home {
        display: flex;
        justify-content: space-between;
        max-width: 1100px;
        margin: 0 auto;
        padding: 10px;
        @include media('<large') {
            flex-direction: column;
        }
        @include media('<medium') {
            padding: 20px;
        }
        .news-home,
        .video-home {
            display: flex;
            img {
                display: block;
                margin-right: 10px;
            }
        }
        .video-home {
            margin-right: 10px;
            @include media('<large') {
                margin-bottom: 10px;
            }
            @include media('<medium') {
                margin-bottom: 20px;
            }
        }
    }
}
.txt-video-news-home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    h2 {
        margin-bottom: 8px;
        padding-bottom: 2px;
        font-weight: normal;
        background: url(../images/bg-titre-home.gif) no-repeat left bottom;
        @include media('<large') {
            padding-bottom: 0;
            background: none;
        }
        a {
            display: block;
            font-family: 'Georgia';
            text-transform: uppercase;
            font-size: 11px;
            line-height: 16px;
            text-decoration: none;
            span {
                font-family: 'Georgia';
                font-size: 11px;
                color: #f8ca50;
            }
            &:hover {
                color: #f8ca50;
            }
        }
    }
    p {
        font-family: 'Source Sans Pro';
        font-size: 11px;
        font-style: italic;
    }
    .voir-video {
        text-decoration: none;
        font-size: 11px;
        font-weight: bold;
        font-family: 'Georgia';
        text-transform: uppercase;
        @include media('<large') {
            font-family: "Source Sans Pro";
            font-size: 11px;
            font-style: italic;
            font-weight: normal;
            text-transform: capitalize;
        }
        &:after {
            content: '';
            display: inline-block;
            margin-left: 10px;
            width: 22px;
            height: 22px;
            vertical-align: middle;
            background: url(../images/bg-voir-video.png) no-repeat right center;
            @include media('<large') {
                content: none;
            }
        }
    }
}
.footer {
    padding: 20px;
    box-sizing: border-box;
    background-image: url('../images/bg-body-footer.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    .menu-footer {
        text-align: center;
    }
    .menu-footer-02 {
        margin-bottom: 20px;
    }
    .menu-footer,
    .langues-reseaux {
        @include media('<medium') {
            display: none;
        }
    }
    .mention {
        margin: 0 0 20px;
    }
    .links {
        display: flex;
        justify-content: center;
        align-items: center;
        a {
            margin: 0 10px;
            font-size: 11px;
        }
    }
}
#liste-news {
    padding: 15px 30px  ;
    background-image: url(../images/bg-carousel-news.jpg);
    background-size: cover;
    box-sizing: border-box;
    @include media('<medium') {
        display: none;
    }
    li {
        display: flex;
        img {
            width: 110px;
            height: 60px;
            margin-right: 10px;
        }
        h3 {
            font-size: 12px;
            text-transform: uppercase;
            &:hover {
                color: #FFCC00;
            }
        }
    }
    .owl-prev,
    .owl-next {
        span {
            display: none;
        }
        position: absolute;
        top: 26px;
        width: 12px;
        height: 39px;
    }
    .owl-prev {
        left: 5px;
        background: url(../images/nav-prev.gif) no-repeat;
    }
    .owl-next {
        right: 5px;
        background: url(../images/nav-next.gif) no-repeat;
    }
}
.overlay-news,
.overlay-videos {
    position: absolute;
    top: 190px;
    left: 50%;
    width: 600px;
    margin-left: -300px;
    z-index: 1000;
    display: none;
    background-color: #36424a;
    @include media('<medium') {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        margin-left: 0;
        padding-top: 40px;
        box-sizing: border-box;
        overflow: auto;
    }
    .pop-news-content,
    .pop-videos-content {
        padding: 20px;
        p {
            text-align: justify;
            font-size: 12px !important;
            margin: 15px 0 0px;
            font-family: 'Source Sans Pro';
            line-height: 14px !important;
            span {
                color: #ffcc00;
                font-style: italic;
                font-family: 'Source Sans Pro';
            }
        }
        .owl-prev,
        .owl-next {
            position: fixed;
            top: 50vh;
            margin-top: -24px;
            padding: 10px;
            background-color: rgba(54, 66, 74, 0.75);
            svg {
                fill: #ffffff;
            }
        }
        .owl-prev {
            left: 20px;
            padding-right: 14px;
        }
        .owl-next {
            right: 20px;
            padding-left: 14px;
        }
        .close {
            display: block;
            position: absolute;
            top: 0;
            right: -28px;
            width: 24px;
            height: 24px;
            @include media('>=medium') {
                background: url(../images/close.gif) top left no-repeat;
                svg {
                    display: none;
                }
            }
            @include media('<medium') {
                top: 20px;
                right: 20px;
                background: none;
                svg {
                    fill: #ffffff;
                }
            }
        }
    }
}
.pop-videos-content {
    video {
        width: 100%;
    }
}
#agegate {
    background-color: #36424a;
    @include media('>=large') {
        background-image: url(../images/bg-agegate.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .logo {
        display: block;
        max-width: 150px;
        margin: 0 auto 50px;
        @include media('>=large') {
            display: none;
        }
    }
    .site {
        max-width: 1050px;
        margin: 50px auto 0;
    }
    .form-visite-content {
        @include media('>=large') {
            width: 574px;
            float: right;
        }
    }
    .form-langue {
        display: flex;
        justify-content: center;
        background: url(../images/bg-form-langue.png) no-repeat center center;
        a {
            display: block;
            float: left;
            width: 61px;
            height: 22px;
            text-align: center;
            line-height: 22px;
            font-size: 16px;
            text-decoration: none;
            background: #171d20;
            margin: 0 5px;
            border: solid 1px #FFFFFF;
            &.active, &:hover {
                width: 63px;
                height: 24px;
                line-height: 24px;
                background: #3c474f;
                border: none;
            }
        }
    }
    .pour-visiter {
        text-align: center;
        font-size: 11px;
        margin: 65px 0;
        line-height: 18px;
        @include media('<large') {
            margin: 50px 0;
        }
    }
    .form-visite {
        .bt-content {
            margin: 100px 0;
            background: url(../images/bg-bt.png) no-repeat center center;
            height: 30px;
            @include media('<large') {
                margin: 50px 0;
            }
        }
        .bt {
            width: 144px;
            height: 28px;
            text-align: center;
            margin: auto;
            display: block;
            border: 1px solid #858c91;
            background: #3e4951;
            cursor: pointer;
            text-transform: uppercase;
            font-size: 10px;
        }
    }
}
.acces-espace-pro {
    .acces-direct {
        font-size: 11px;
        span {
            background: #3e4951;
            display: inline-block;
            padding: 1px 20px;
            font-size: 11px;
            letter-spacing: 1px;
            margin-left: 5px;
        }
    }
    p label {
        position: absolute;
        left: 0;
        top: 1px;
        padding-left: 5px;
        font-size: 12px;
        color: #cccccc;
        height: 25px;
        line-height: 25px;
        margin: 0 !important;
    }
    input {
        &[type=text], &[type=password] {
            width: 100%;
            height: 25px;
            padding: 0 5px;
            line-height: 25px;
            background: none;
            border: 1px solid #515658;
        }
    }
    .submit-form {
        margin: 10px 0 30px;
        overflow: hidden;
        input {
            float: right;
            width: 49px;
            height: 17px;
            font-size: 11px;
            line-height: 18px;
            background: #3e4951;
            cursor: pointer;
        }
        a {
            float: right;
            margin-right: 6px;
            font-size: 10px;
            color: #737d84;
            text-decoration: none;
            line-height: 18px;
        }
    }
    .demand-d-acces {
        display: block;
        background: url(../images/bg-demande-d-acces.gif) no-repeat right center;
        font-size: 11px;
        text-transform: uppercase;
        text-decoration: none;
        float: none !important;
        color: #ffffff !important;
    }
    .mention {
        margin: 50px 0;
        color: #ababab;
        font-size: 10px;
        line-height: 18px;
    }
}