.savoir-faire-creation {
    position: relative;
    width: 865px;
    height: 568px;
    overflow: hidden;
    margin: auto;
    @include media('<large') {
        width: 738px;
    }
    @include media('<medium') {
        width: 100%;
        height: 100%;
        min-height: calc(100vh - #{$heightHeadFootMobile});
        overflow: hidden;
    }
    h2 {
        position: absolute;
        top: 35px;
        left: 47px;
        font-size: 22px;
        text-transform: uppercase;
        @include media('<small') {
            position: relative;
            top: auto;
            left: auto;
            margin: 20px 0;
            padding: 0 20px;
        }
        span {
            display: block;
            font-size: 12px;
            font-family: 'Source Sans Pro';
            font-weight: normal;
        }
    }
    h3 {
        font-size: 18px;
        margin-bottom: 15px;
        font-family: 'Source Sans Pro';
    }
    img {
        @include media('<small') {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            min-width: 640px;
        }
    }
    .desc-creation-empty {
        position: relative;
        top: 102px;
        left: 47px;
        height: 330px;
        width: 100%;z-index: -10;
        padding: 0 20px 85px;
    }
    .desc-creation,
    .desc-creation-noScroll {
        position: absolute;
        top: 102px;
        left: 47px;
        width: 394px;
        height: 330px;
        padding-right: 20px;
        @include media('<small') {
            position: relative;
            top: auto;
            left: auto;
            width: auto;
            height: auto;
            padding: 0 20px 85px;
        }
        p {
            font-family: 'Source Sans Pro';
        }
    }
    .link-creation-bt {
        background: url(../images/bg-link-creation-bt.png) no-repeat right top;
        position: absolute;
        bottom: 0px;
        right: 0px;
        height: 42px;
        width: 666px;
        padding-right: 33px;
        @include media('<small') {
            width: 100%;
            height: 40px;
            padding: 10px 0;
            background-size: 100% 100%;
        }
        a {
            background: url("../images/link-creation-bt.png") no-repeat scroll -1px 1px transparent;
            display: block;
            float: right;
            font-family: 'Garmond';
            font-size: 16px;
            height: 32px;
            line-height: 24px;
            margin: 5px 0 0 3px;
            padding: 0 17px 0 24px;
            text-decoration: none;
            text-transform: uppercase;
            span {
                font-size: 12px;
                line-height: 12px;
                display: block;
                font-family: 'Source Sans Pro';
            }
        }
    }
    .link-eau-vie,
    .link-liqueur,
    .link-eau-vie-home {
        position: absolute;
        left: 47px;
        padding-left: 18px;
        font-size: 12px;
        font-family: 'Source Sans Pro';
        text-transform: uppercase;
        background: url(../images/puce-lien.png) no-repeat left center;
    }
    .link-eau-vie-home {
        top: 269px;
    }
    .link-liqueur {
        top: 239px;
    }
    .link-eau-vie {
        bottom: 70px;
    }
}