// BREAKPOINTS
$breakpoints: (xsmall: 360px, small: 568px, medium: 768px, large: 1024px, xlarge: 1280px, xxlarge: 1440px);

// COLORS
$color-primary: #36424a;
$color-secondary: #11252d;

// CONSTANTS
$heightHeadFootDesktop: 330px;
$heightHeadFootMobile: 220px;