html, body, .site {
    min-height: 100%;
}

.site{
    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Georgia';
    color: #FFFFFF;
    outline: none;
}

.privacy-policy {
    margin-left: 20px;
}

.text-black {
    color: black;
}

ul {
    list-style: none;
}

a {
    outline: none;
    text-decoration: none;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.dn span {
    display: none;
}

.recherche-form {
    position: absolute;
    right: 10px;
    top: 4px;
    input {
        background: url(../images/bg-recherche.png) no-repeat;
        height: 25px;
        line-height: 25px;
        width: 112px;
        padding: 0 15px 0 25px;
    }
}

#histoire .main {
    background: url(../images/bg-histoire.jpg) no-repeat center top;
}

#licornes .main {
    background: url(../images/bg-main-licornes.jpg) no-repeat center top;
}

#bourgogne .main {
    background: url(../images/bg-bourgogne.jpg) no-repeat center top;
}

#savoir-faire .main {
    background: url(../images/bg-savoir-faire-new.jpg) no-repeat center top;
}

#pro .main {
    background: url(../images/img-fond-pro.jpg) no-repeat center top;
    background-size: cover;
}

.overlay-demande-envoyee, .overlay-mentions, .overlay-espace-pro, .overlay-champs, .overlay-format, .overlay-passe-oublie {
    display: none;
    background: url(../images/bg-overlay.png);
    position: fixed;
    left: 0px;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    @include media('<medium') {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        margin-left: 0;
        padding-top: 40px;
        box-sizing: border-box;
        overflow: auto;
    }
}

.pop-demande-envoyee, .pop-up-mentions, .popup-espace-pro {
    background: #030d13;
    border: solid 1px #232e34;
    width: 640px;
    margin: 142px auto 0;
    padding: 57px 40px;
    position: relative;
    @include media('<medium') {
        width: 100%;
        margin-left: 0;
        padding-top: 40px;
        box-sizing: border-box;
        overflow: auto;
        .scrollMention {
            height: auto;
            p {
                width: auto;
            }
        }
    }
}

.pop-up-passe-oublie {
    background: #030d13;
    border: solid 1px #232e34;
    width: 470px;
    margin: 342px auto 0;
    padding: 57px 40px;
    position: relative;
    label {
        color: #9AA6B2;
        font-family: 'Georgia';
        font-size: 11px;
        height: 26px;
        line-height: 26px;
        margin-top: 4px;
        padding: 0 20px 0 0;
        text-transform: uppercase;
        float: left;
    }
    .input {
        background: none repeat scroll 0 0 transparent;
        border: 1px solid #535A5E;
        color: #9AA6B2;
        font-family: 'Georgia';
        font-size: 11px;
        height: 26px;
        line-height: 26px;
        margin-top: 4px;
        padding: 0 10px;
        width: 304px;
        float: left;
    }
    .submit {
        background: none repeat scroll 0 0 #3E4951;
        border: medium none;
        color: #9AA6B2;
        cursor: pointer;
        display: block;
        float: left;
        font-family: 'Georgia';
        font-size: 11px;
        height: 28px;
        line-height: 28px;
        margin: 4px 0 0 6px;
        text-transform: uppercase;
        width: 39px;
    }
}

.pop-demande-envoyee {
    min-height: 470px;
}

.pop-up-mentions {
    h1 {
        background: url(../images/bg-title-mentions.gif) no-repeat center center;
        color: #FFFFFF;
        font-size: 12px;
        text-align: center;
        text-transform: uppercase;
        line-height: 14px;
        margin-bottom: 70px;
    }
    p {
        //width: 620px;
        text-align: center;
        color: #9aa6b2;
        line-height: 24px;
        font-size: 11px;
    }
}

.pop-demande-envoyee p {
    margin: 200px 0 0;
    text-align: center;
    text-transform: uppercase;
    font-size: 11px;
    line-height: 24px;
}

.pop-up-mentions p a {
    color: #9aa6b2;
    text-decoration: none;
    font-size: 12px;
}

.pop-demande-envoyee .close, .pop-up-mentions .close, .popup-espace-pro .close {
    background: url(../images/bg-close.png) no-repeat;
    display: block;
    position: absolute;
    right: 15px;
    top: 11px;
    height: 11px;
    width: 10px;
}

.share {
    width: 50px;
    height: 22px;
    overflow: hidden;
    text-align: right;
    float: right;
    margin-top: 5px;
    a {
        display: block;
        float: left;
        height: 22px;
        width: 21px;
        text-indent: -9999px;
        background-image: url(../images/reseaux.gif);
        background-position: left top;
        background-repeat: no-repeat;
        margin-left: 3px;
        font-size: 0px;
        &.twitter {
            background-position: right top;
        }
    }
}

.label {
    display: block;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-size: 10px;
}

.content-form {
    width: 320px;
    margin: auto;
    p {
        &.dateNaissance {
            position: relative;
            float: left;
        }
        label {
            position: absolute;
            left: 0;
            top: 1px;
            padding-left: 5px;
            font-size: 12px;
            color: #cccccc;
            height: 25px;
            line-height: 25px;
            margin: 0 !important;
        }
    }
    .mois, .jour {
        width: 73px;
        height: 25px;
        border: 1px solid #515658;
        line-height: 25px;
        background: none;
        color: #ffffff;
        font-size: 14px;
        padding: 0 5px;
        margin-right: 4px;
        font-family: 'Source Sans Pro';
    }
    .annee {
        width: 73px;
        height: 25px;
        border: 1px solid #515658;
        line-height: 25px;
        background: none;
        color: #ffffff;
        font-size: 14px;
        padding: 0 5px;
        margin-right: 4px;
        font-family: 'Source Sans Pro';
        width: 130px;
        margin-right: 0px;
    }
}

.form-visite {
    select {
        width: 280px;
    }

    .se-souvenir span {
        float: right;
        display: block;
        margin: 0 6px 0;
        font-size: 10px;
        text-transform: uppercase;
    }
    span.jqTransformCheckboxWrapper {
        border: 1px solid #515658;
        float: right;
        width: 8px;
        height: 8px;
        margin: 14px 0 0;
    }
}

#formAcces span {
    &.jqTransformCheckboxWrapper, &.jqTransformRadioWrapper {
        border: 1px solid #515658;
        float: right;
        width: 8px;
        height: 8px;
        margin: 14px 0 0;
    }
}

.form-visite span.jqTransformCheckboxWrapper {
    margin-top: 5px;
}

#formAcces span {
    &.jqTransformRadioWrapper, &.jqTransformCheckboxWrapper {
        float: left;
        margin: 4px 0 0 0;
    }
}

.form-visite a.jqTransformRadio {
    width: 8px;
    height: 8px;
}

#formAcces a.jqTransformChecked {
    width: 8px;
    height: 8px;
    background: url(../images/checkbox.png) no-repeat center center;
}

.identifiant {
    position: relative;
    margin-top: 4px;
}

.menu-bt-histoire {
    background: url(../images/bg-menu-bt-histoire_03.png) no-repeat top center;
    height: 31px;
    position: static;
    bottom: 0;
    left: 0px;
    width: 100%;
    margin-top: 50px;
    @include media('<medium') {
        display: none;
    }
    ul {
        margin: auto;
        text-align: center;
        li {
            width: 23px;
            list-style: none;
            display: inline-block;
            height: 23px;
            margin-top: 4px;
            position: relative;
            a {
                display: block;
                width: 23px;
                height: 23px;
                background: url(../images/bg-bt-link-histoire.png) no-repeat center center;
                &:hover, &.active {
                    background: url(../images/bg-bt-link-histoire-active.png) no-repeat center center;
                }
            }
            p {
                position: absolute;
                display: none;
                width: 125px;
                height: 31px;
                top: -38px;
                left: -38px;
            }
        }
    }
}

#bourgogne .menu-bt-histoire ul li p {
    width: 330px;
    height: 31px;
    top: -38px;
    left: -145px;
    text-align: center;
    text-transform: uppercase;
    font-size: 10px;
}

.menu-bt-histoire ul li p span {
    /* display:block;
    height:31px;
    float:left;
    width:45px;*/
    font-size: 19px;
    font-size: 10px;
}

#bourgogne .menu-bt-histoire ul li p span {
    /*width:260px;
    height:auto;
    text-align:center;*/
    font-size: 10px;
    color: #CFA75A;
}

.menu-bt-histoire ul li p span {
    &.nom {
        margin-left: 10px;
        line-height: 14px;
        color: #CFA75A;
        padding-left: 5px;
    }
    &.annee {
        border-right: 1px solid #CFA75A;
        height: 31px;
        line-height: 31px;
        float: left;
        width: 48px;
        font-weight: bold;
        font-size: 19px;
        padding-right: 5px;
        margin-right: 5px;
    }
}

.overlay {
    display: none;
}

.pop-up-passe-oublie .close {
    right: -30px;
}

.main p {
    font-size: 12px;
    line-height: 15px;
    margin-bottom: 15px;
    text-align: justify;
}

/*************************************/
/*           Espace Pro              */
/*************************************/

.pro-home {
    width: 1220px;
    margin: 0 auto;
    padding-top: 51px;
}

#nav {
    display: block;
    margin: 0;
    padding: 0;
    position: relative;
    li {
        display: block;
        margin: 0;
        padding: 0;
        position: relative;
    }
    a {
        display: block;
    }
    li ul {
        display: none;
        position: absolute;
        left: 240px;
        top: 0;
        margin: 0;
        padding: 0;
    }
}

* html #nav ul {
    line-height: 0;
}

/* IE6 "fix" */

#nav {
    ul a {
        zoom: 1;
    }
    li ul li ul {
        top: 0;
        left: 230px;
    }
    width: 240px;
    float: left;
    z-index: 100;
    *:hover {
        background-color: none;
    }
    ul {
        top: 0px;
    }
    li {
        a {
            width: 219px;
            height: 31px;
            line-height: 31px;
            margin-bottom: 5px;
            padding-left: 9px;
            color: #9aa6b2;
            font-size: 11px;
            font-weight: bold;
            font-family: 'Georgia';
            text-transform: uppercase;
            border: 1px solid #53616c;
            background: url(../images/puce-pro.png) no-repeat 200px center;
            &:hover {
                color: #ffffff;
            }
            &.ui-state-active, &.ui-state-focus {
                background: url(../images/puce-pro-active.png) no-repeat 200px center;
                color: #ffffff;
            }
            &.deuxLignes {
                height: 26px;
                line-height: 11px;
                padding-top: 5px;
            }
        }
        ul {
            width: 220px;
            padding: 0 4px;
            border: 1px solid #53616c;
            background: #171c20;
            /*background:url(../images/bg-detail-produit.png) repeat;*/
            li {
                width: 220px;
                height: 41px;
                border-bottom: 1px solid #53616c;
                &:last-child {
                    border-bottom: none;
                }
                a {
                    width: 220px;
                    height: 32px;
                    line-height: 14px;
                    margin-bottom: 0px;
                    padding: 7px 0 0 0;
                    color: #ffffff;
                    font-size: 11px;
                    font-weight: bold;
                    font-family: 'Georgia';
                    text-transform: uppercase;
                    text-align: center;
                    border: none;
                    border-bottom: 2px solid transparent;
                    background: none;
                    &:hover, &.ui-state-active, &.ui-state-focus {
                        border-bottom: 2px solid #CCC;
                        color: #CCC;
                    }
                }
                ul {
                    width: 160px;
                    padding: 0 5px;
                    border: 1px solid #53616c;
                    left: 235px !important;
                    li {
                        width: 160px;
                        height: inherit;
                        border: none;
                        a {
                            width: 150px;
                            height: inherit;
                            line-height: 18px;
                            margin-bottom: 0px;
                            padding: 0 0 0 10px;
                            color: #ffffff;
                            font-size: 11px;
                            font-weight: bold;
                            font-family: 'Georgia';
                            text-transform: uppercase;
                            text-align: left;
                            border: none;
                            display: inline;
                            &:hover {
                                border: none;
                                color: #CCC;
                            }
                        }
                    }
                }
            }
        }
    }
}

/* IE6/7 fix */

/* Essentials - configure this */

/* Everything else is theming */

.espacePro {
    margin: 0 auto;
    padding: 0;
    padding-top: 40px;
    h2 {
        height: 20px;
        line-height: 20px;
        padding: 0;
        color: #ddd;
        font-size: 11px;
        font-family: 'Georgia';
        text-transform: uppercase;
        margin: auto;
        text-align: center;
        font-weight: normal;
        img {
            vertical-align: middle;
        }
        &.contact {
            width: 100%;
            padding: 0;
            text-align: center;
            background: url(../images/bg-titre-contact.png) no-repeat;
            background-position: center;
        }
    }
    p {
        padding: 0;
        text-align: center;
        font-size: 10px;
        color: #9aa6b2;
        line-height: 24px;
        margin-top: 20px;
        letter-spacing: 1px;
        @include media('<=large') {
            padding: 0px 20px;
        }
    }
}

#formIdentification {
    width: 326px;
    margin: auto;
    .input {
        width: 304px;
        height: 26px;
        line-height: 26px;
        margin-top: 4px;
        padding: 0 10px;
        color: #9aa6b2;
        font-size: 10px;
        font-family: 'Georgia';
        text-transform: uppercase;
        border: 1px solid #535a5e;
        background: none;
        letter-spacing: 1px;
    }
    a {
        height: 16px;
        line-height: 16px;
        margin-top: 4px;
        display: block;
        color: #737d84;
        font-size: 10px;
        font-family: 'Georgia';
        margin-left: 0 !important;
        text-align: right;
        &:hover {
            text-decoration: underline;
        }
        &.demand-d-acces {
            padding-right: 26px;
        }
    }
    .submit {
        width: 39px;
        height: 16px;
        line-height: 16px;
        margin: 4px 0 0 6px;
        float: right;
        display: block;
        color: #fff;
        font-size: 10px;
        font-family: 'Georgia';
        text-transform: uppercase;
        cursor: pointer;
        border: none;
        background: #3e4951;
    }
}

#formContact, #formAccess {
    width: 100%;
}

#formContact {
    margin: 60px auto 0 auto;

    #consentement {
        width: 325px;
        line-height: 15px;
        padding: 0 0px;
        color: #9aa6b2;
        font-size: 11px;
        font-family: 'Georgia';
        text-transform: uppercase;
        background: none;
        letter-spacing: 1px;
        margin: 6px auto 0 auto;
        display: block;
    }
}

#formAccess {
    margin: 30px auto 0 auto;
}

#formAcces {
    h3 {
        margin-bottom: 10px;
        display: block;
        color: #ffffff;
        font-size: 10px;
        text-align: center;
        text-transform: uppercase;
        font-family: 'Georgia';
        letter-spacing: 1px;
        font-weight: normal;
        &.noCenter {
            margin: 20px 0 20px 0;
            padding-left: 10px;
            color: #fff;
            text-align: left;
            &.message {
                margin: 20px 0 5px 0;
            }
        }
    }
    .input {
        width: 304px;
        height: 26px;
        line-height: 26px;
        margin-top: 4px;
        padding: 0 10px;
        color: #9aa6b2;
        font-size: 11px;
        font-family: 'Georgia';
        text-transform: uppercase;
        border: 1px solid #535a5e;
        background: none;
        letter-spacing: 1px;
    }
}

#formContact .input, #formAccess .input {
    width: 304px;
    height: 26px;
    line-height: 26px;
    margin-top: 4px;
    padding: 0 10px;
    color: #9aa6b2;
    font-size: 11px;
    font-family: 'Georgia';
    text-transform: uppercase;
    border: 1px solid #535a5e;
    background: none;
    letter-spacing: 1px;
    margin: 4px auto 0 auto;
    display: block;
}


#formContact textarea, #formAccess textarea {
    height: 78px;
    padding: 5px;
    color: #9aa6b2;
    font-size: 10px;
    font-family: 'Georgia';
    border: 1px solid #535a5e;
    background: none;
    margin: 4px auto 0 auto;
    display: block;
    width: 304px;
    margin-top: 4px;
    padding: 5px 10px;
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 1px;
    max-width: 304px;
    min-width: 304px;
}

#formAcces {
    .checkbox {
        float: left;
        margin-top: 4px;
    }
    .conditions {
        width: 303px;
        margin-top: 4px;
        display: block;
        color: #9aa6b2;
        font-size: 9px;
        font-style: italic;
        font-family: 'Georgia';
        float: left;
        padding-left: 10px;
        text-align: justify;
        letter-spacing: 1px;
    }
    label {
        margin-top: 4px;
        color: #9aa6b2;
        font-size: 10px;
        text-transform: uppercase;
        font-family: 'Georgia';
        padding: 0 21px 0 7px;
        float: left;
        &.last {
            padding: 0 0 0 10px;
        }
    }
    a.passeOubli {
        height: 15px;
        line-height: 16px;
        margin-top: 4px;
        float: right;
        display: block;
        color: #737d84;
        font-size: 10px;
        font-family: 'Georgia';
        &:hover {
            text-decoration: underline;
        }
    }
}

#formContact, #formAccess {
    .valider {
        width: 100%;
        height: 31px;
        margin-top: 34px;
        background: url(../images/bg-titre-contact.png) no-repeat left center;
        background-position: center;
    }
    .submit {
        width: 144px;
        height: 29px;
        line-height: 29px;
        margin: 0 auto;
        display: block;
        color: #ffffff;
        font-size: 11px;
        font-family: 'Georgia';
        text-transform: uppercase;
        cursor: pointer;
        border: 1px solid #858c91;
        background: #3e4951;
    }
}

.pro-home .content {
    width: 900px;
    float: right;
    h2 {
        font-size: 14px;
        font-weight: normal;
        padding: 0 0 20px 101px;
        text-transform: uppercase;
    }
    .textAccueil {
        width: 604px;
        padding-top: 100px;
        p {
            padding-top: 50px;
            text-align: center;
            color: #ffffff;
            font-size: 15px;
            font-family: 'Georgia';
            &.titre {
                text-transform: uppercase;
                font-size: 14px;
            }
            &.nom {
                text-transform: uppercase;
                font-size: 24px;
                font-weight: bold;
            }
        }
    }
}

#mycarousel li ul {
    width: 782px;
    height: 480px;
    li {
        width: 201px;
        height: 133px;
        float: left;
        margin: 0 0 25px 46px;
        h3 {
            color: #ffffff;
            font-size: 11px;
            font-family: 'Georgia';
            text-transform: uppercase;
            font-weight: normal;
            letter-spacing: 1px;
        }
        .visuel {
            width: 201px;
            height: 104px;
            margin-top: 5px;
            padding: 5px 0;
            border-top: 1px solid #53616c;
            border-bottom: 1px solid #53616c;
            a {
                width: 201px;
                height: 104px;
                position: relative;
                overflow: hidden;
                display: block;
                .lienProduit {
                    width: 201px;
                    height: 58px;
                    padding-top: 46px;
                    position: absolute;
                    left: 0;
                    top: 104px;
                    color: #36424a;
                    font-size: 12px;
                    font-family: 'Source Sans Pro';
                    text-align: center;
                    text-transform: uppercase;
                    background: url(../images/bg-detail-produit.png) repeat;
                }
            }
        }
    }
}

.blockTelecharge {
    width: 982px;
    height: 38px;
    margin: 60px 0 0 268px;
    text-align: center;
    background: url(../images/bg-telecharger-pro.png) no-repeat center top;
    a {
        display: inline;
        height: 38px;
        line-height: 38px;
        color: #ffffff;
        font-size: 11px;
        font-family: 'Georgia';
        margin-right: 20px;
        padding-left: 24px;
        background: url(../images/bt-telecharger.png) no-repeat left center;
    }
}

.detailVisuel {
    width: 308px;
    height: 554px;
    float: left;
    border: 1px solid #54626d;
}

.detailDescript {
    width: 572px;
    float: left;
    padding-left: 12px;
    h3 {
        color: #ffffff;
        font-size: 13px;
        font-family: 'Georgia';
        text-transform: uppercase;
        span {
            color: #fdab21;
            font-family: 'DIN-bold';
            font-weight: normal;
        }
    }
    p {
        width: 572px;
        color: #ffffff;
        font-size: 14px;
        line-height: 17px;
        font-family: 'Georgia';
        padding: 40px 0 30px 0;
    }
    a.telecharger {
        height: 20px;
        line-height: 20px;
        color: #ffffff;
        font-size: 11px;
        font-family: 'Georgia';
        margin-top: 10px;
        padding-left: 24px;
        display: block;
        background: url(../images/bt-telecharger.png) no-repeat left center;
    }
    .sep {
        width: 572px;
        height: 1px;
        margin-top: 10px;
        background: #fdab21;
    }
    ul {
        margin-top: 10px;
        padding-left: 14px;
        li {
            float: left;
            font-size: 12px;
            color: #53616c;
            font-family: 'Source Sans Pro';
            a {
                display: inline;
                padding: 0 10px;
                color: #53616c;
                font-family: 'Source Sans Pro';
                text-transform: uppercase;
                &:hover {
                    color: #ffffff;
                }
            }
        }
    }
}

.scrollMention {
    height: 400px;
    overflow: auto;
}

#form_dateNaissance {
    clear: both;
    width: 340px;
    select {
        padding: 0 3px;
        width: 55px;
    }
    .jqTransformSelectWrapper {
        float: left;
        margin-right: 30px;
        div span {
            font-size: 15px;
            text-align: center;
            line-height: 22px;
            padding: 0 4px;
        }
    }
}

@media print {
    .header, .footer, .cycle-next, .cycle-prev, .menu_degustation {
        display: none !important;
    }
    .desconly, .jspContainer {
        overflow: visible !important;
    }
}



.degustation-home .jspPane p > a {
    color: #000;
}

.back {
    left: 133px;
    top: 25px;
    position: absolute;
    background: #f4f4f4;
    width: auto !important;
    height: auto !important;
    text-align: center;
    border-radius: 3px;
    padding-top: 3px;
    padding-bottom: 5px;
    padding-left: 7px;
    padding-right: 7px;
    text-transform: uppercase;
    font-size: 11px;
    font-family: Arial;
    font-weight: bold;
    margin-top: 0px;
    z-index: 2;
    color: #232e35;
}

.footer {
    bottom: 0;
    position: static;
    left: 0;
    width: 100%;
    z-index: 100;
}

#bourgogne .main, #histoire .main, #licornes .main, #savoir-faire .main {
    background-repeat: repeat !important;
}

.menu-bt-histoire {
    bottom: 10px;
}

#pro h4 {
    text-align: center;
    margin-bottom: 10px;
}

@media only screen and (max-height: 800px) {
    .overlay-videos {
        top: 50px;
    }
}

.degustation-home .content .text p {
    margin-bottom: 10px;
}

/* Indigen */

.contactez-nous {
    background: url(../images/espace-pro-header_03.gif) 0px bottom no-repeat;
    display: block;
    padding-left: 30px;
    margin-bottom: 10px;
}
.espace-pro-header {
    background: url(../images/espace-pro-header_03.gif) no-repeat;
    display: block;
    padding-left: 30px;
    strong {
        font-family: 'Source Sans Pro';
    }
}

.main {
    /*height:666px;*/
    position: relative;
}


/*************************************/
/*         Page Degustation          */
/*************************************/

.menu_degustation {
    width: 100%;
    height: 35px;
}

#degustation .menu_degustation {
    background: url(../images/degustation_submenu.png) no-repeat center;
}

.menu_degustation ul {
    width: 100%;
    height: 35px;
    text-align: center;
    margin: auto;
}

.scrollMenu ul {
    margin-left: 0;
}

.icons a.telecharger {
    display: none;
}

.menu_degustation li {
    /*height:35px;*/
    display: inline;
    position: relative;
    padding: 5px 0;
    a {
        height: 25px;
        padding: 10px 10px 0 10px;
        display: inline-block;
        font-size: 11px;
        font-family: 'Georgia';
        text-transform: uppercase;
        font-weight: bold;
        text-align: left;
        &:hover, &.active {
            background: url(../images/bg-lien-degustation.png) no-repeat center 24px;
        }
    }
}

.degustation-home .menu_degustation li {
    .scrollMenu {
        position: absolute;
        right: -33px;
        display: none;
        top: 35px;
        padding: 18px;
        width: 137px;
        height: auto !important;
        z-index: 99999;
        background: url(../images/bg-ss-menu.png) no-repeat left top;
        @include media('<=xsmall'){
            right: -53px;
        }
    }
    ul.subMenu {
        width: 137px;
        height: 594px;
        overflow: auto;
        li {
            display: block;
            /*margin:5px 0;
            height:20px;*/
            text-align: left;
            a {
                /*display:block;*/
                padding: 0;
                height: inherit;
                font-size: 11px;
                font-family: 'Source Sans Pro';
                font-weight: normal;
                text-transform: uppercase;
                text-align: left;
            }
        }
    }
}

.degustation, .elaboration {
    cursor: pointer;
}

.degustation-home .menu_degustation li ul.subMenu li a:hover {
    color: #ddd;
    background: none;
}

.menu_degustation .jspDrag {
    background: #fff !important;
}


.degustation-home .content {
    .parralax {
        position: relative;
        display: table;
        height: 100%;
        width: 100%;
    }
    .sh {
        display: table-cell;
        text-align: center;
        height: 100%;
        vertical-align: middle;
    }
}

#degustation-produits {
    .content {
        padding-top: 0;
        width: 1094px;
        height: 630px;
        margin: auto;
    }
    .degustation-home {
        width: 1170px;
        margin: 0 auto;
    }
}

.degustation-home .content {
    a {
        &.entrer {
            width: 30px;
            display: inline-block;
            padding: 0 36px 0 0;
            height: 22px;
            line-height: 22px;
            color: #ffffff;
            font-size: 12px;
            font-family: 'Source Sans Pro';
            background: url(../images/bg-entrer.png) no-repeat right top;
        }
        &.next {
            width: 116px;
            height: 116px;
            display: block;
            position: absolute;
            right: 0;
            top: 244px;
            background: url(../images/bg-next-degustation.png) no-repeat center;
            top: 50%;
            margin-top: -60px;
        }
        &.prev {
            width: 116px;
            height: 116px;
            display: block;
            position: absolute;
            left: 0;
            top: 244px;
            background: url(../images/bg-prev-degustation.png) no-repeat center;
            top: 50%;
            margin-top: -60px;
            display: none;
        }
    }
}

#slideshow-1 {
    position: relative;
    width: 977px;
    height: 577px;
    padding: 0px 58px;
    .cycle-next {
        position: absolute;
        top: 243px;
        right: 0px;
        width: 116px;
        height: 116px;
        cursor: pointer;
        background: url(../images/suiv-degustation.png) no-repeat;
        z-index: 12;
    }
    .cycle-prev {
        position: absolute;
        top: 243px;
        left: 0px;
        width: 116px;
        height: 116px;
        background: url(../images/prev-degustation.png) no-repeat;
        z-index: 12;
    }
}

#cycle-1 {
    z-index: 1;
    display: none;
    .cycle-slide {
        display: none;
        background-color: #fff;
    }
}

#slideshow-1 {
    img {
        position: relative;
        z-index: 1;
    }
    .description {
        width: 430px;
        position: absolute;
        left: 131px;
        top: 82px;
        z-index: 10;
        h3 {
            font-size: 28px;
            font-weight: bold;
            color: #2f383e;
            font-family: 'Georgia';
        }
    }
    .imageNoir .description h3 {
        color: #ffffff;
    }
    .description .text {
        font-size: 13px;
        color: #2f383e;
        font-family: 'Georgia';
        padding-top: 20px;
        line-height: 20px;
        span {
            font-weight: bold;
            color: #2f383e;
        }
    }
    .imageNoir {
        .description .text {
            color: #ffffff !important;
            span {
                color: #ffffff !important;
            }
        }
        .desconly .text {
            color: #ffffff !important;
        }
        .description .text {
            p, span {
                color: #ffffff !important;
            }
        }
        .desconly .text .p1, .description .text .p2 {
            color: #ffffff !important;
        }
    }
    .description {
        .sep {
            width: 274px;
            height: 1px;
            display: block;
            margin-top: 25px;
            background: #e2e3e4;
        }
        h4 {
            font-size: 16px;
            font-weight: bold;
            color: #2f383e;
            font-family: 'Georgia';
            margin-top: 25px;
        }
    }
    .imageNoir .description h4 {
        color: #ffffff;
    }
    .description .icons {
        padding-top: 20px;
        a {
            width: 22px;
            height: 22px;
            display: block;
            float: left;
            margin-left: 7px;
            background-position: left top;
        }
    }
    .imageNoir .description .icons a {
        background-position: left bottom;
    }
    .description .icons a {
        &.facebook {
            background-image: url(../images/facebook.png);
        }
        &.telecharger {
            background-image: url(../images/telecharger.png);
            display: none;
        }
        &.imprimer {
            background-image: url(../images/imprimer.png);
        }
    }
}

#slideshow-2 {
    position: relative;
    width: 711px;
    height: 37px;
    padding: 0 22px;
    margin: 0 auto;
    .cycle-next {
        position: absolute;
        top: 14px;
        right: 0px;
        width: 5px;
        height: 13px;
        cursor: pointer;
        background: url(../images/suiv2.png) no-repeat;
        z-index: 12;
    }
    .cycle-prev {
        position: absolute;
        top: 14px;
        left: 0px;
        width: 5px;
        height: 13px;
        background: url(../images/prev2.png) no-repeat;
        z-index: 12;
    }
}

#cycle-2 {
    z-index: 1;
    height: 37px;
    .cycle-slide {
        width: auto !important;
        margin-right: 5px;
        img {
            border: 1px solid #cccccc;
            width: 72px;
            height: 27px;
        }
    }
    .cycle-slide-active img {
        width: 72px;
        height: 35px;
        margin-top: 0;
    }
}

.caroubas {
    width: 977px;
    height: 41px;
    margin: 2px auto 0 auto;
    padding: 5px 0;
}

.carouNoir {
    background: #000000;
}

/**************************/
/*******ESPACE PRO*********/
/**************************/

#menu-left{
    display: none;
}

#requestAccess .espacePro h2 .contact, #requestAccess .espacePro h2 .valider{
    background: none;
}


#loginbox {
    @include media('<=small') {
        margin-left: -16px;
    }
    @include media('<medium') {
        .submit-login{
            width: 100%;
            height: 32px;
            font-size: 12px;
        }
    }
}

    #requestAccess .checkbox_container{
        width: 320px;
        padding: 20px;
        margin: 0 auto;
        label, span{
            color: #9AA6B2;
            font-size: 12px;
            font-family: 'Georgia';
            text-transform: uppercase;
            padding: 4px;
        }
        span{
            width: 100%;
            margin-bottom: 12px;
            display: inline-block;
        }
        input[type="checkbox"]{
            opacity: 0;
        }
        .ez-hide{
            opacity: 0;
        }
        .ez-checkbox{
            background: transparent url(../images/checkbox-red.png) 0 1px no-repeat;
            display: inline-block;
        }
        .ez-checked {
            background-position: 0 -18px;
        }
    }

    .owl-stage-outer {
        @include media('<=large') {
        //max-height: 586px;
        }
    }

    .alert-danger{
        text-align: center;
        width: 240px;
        padding: 15px 20px;
        margin: 0 auto;
        margin-bottom: 18px;
        background-color : #c0392b;
        color: #ffffff;
      }
      
/**************************/
/*****REFAC LANGUES********/
/**************************/

    #languesContainer{
        display: none;
        background-color: #35424a;
        padding: 8px 0px;
        z-index: 100;
    }

    #languesIcon .flag{
        vertical-align: text-top;
    }

    #languesIcon{
        span{
            font-size: 10px!important;
            display: none;
        }
    }

    #languesIcon:after{
        content: "";
        background: url(../images/puce-langue.jpg) no-repeat center right;
        width: 8px;
        position: absolute;
        height: 8px;
        background-size: contain;
        margin-left: 8px;
        margin-top: 4px;
        cursor: pointer;
    }


.collection-home, #liste-news-full {
    .owl-next, .owl-prev {
        @include media('<medium') {
            display: none;
        }
    }
}