{% extends "admin-pro/layout.html.twig" %}
{% block body %}
    <div id="contenu-right" class="accueil-pro responsive" style="position: relative; top: 0px;">
        <h1>Bienvenue sur l’espace professionnel</h1>
        <p>Vous trouverez ici</p>
        <p>toutes les informations et fichiers nécessaires</p>
        <p>concernant la Maison Joseph Cartron.</p>
    </div>
{% endblock %}
