# Cache and logs (Symfony2)
/app/cache/*
/app/logs/*

# Parameters
/app/config/parameters.yml

# Managed by Composer
/vendor/

# Assets and user uploads
/htdocs/bundles/
/htdocs/uploads/
/htdocs/1/*
/web/bundles/
/database
