# Cache and logs (Symfony2)
/app/cache/*
/app/logs/*
/var/logs/*

# Parameters
/app/config/parameters.yml

# Managed by Composer
/vendor/

# Assets and user uploads
/web/bundles/
/web/uploads/
/web/1/*
/web/bundles/
/database
.env
