{% extends "SiteCartronBundle::layout.html.twig" %}
{% block title %}JOSEPH CARTRON{% endblock %}
{% block body %}

<div id="contact">
    <div class="main">
        <div class="espacePro">
        	<h2 class="contact">Contact</h2>
            <form id="formContact" name="formContact" action="" method="post">
            	<input type="text" name="prenom" id="prenom" class="input" value="prenom" />
            	<input type="text" name="nom" id="nom" class="input" value="nom" />
            	<input type="text" name="email" id="email" class="input" value="mail" />
            	 <input type="text" name="societe" id="societe" class="input" value="societe" />
                <textarea name="message" id="message" cols="1" rows="1"></textarea>
                <br clear="all" />
                <div class="valider">
                    <input type="button" id="ok_new_pro" name="ok" value="VALIDER" class="submit" />
                </div>
            </form>
            <p>25, RUE DU DOCTEUR LEGRAND – BP 28   /   21701 NUITS-SAINT-GEORGES CEDEX - FRANCE<br />
TEL : +33 (0)3 80 62 00 90   /   MAIL : cartron@cartron.fr</p>
        </div>    
    </div>
</div>
{% endblock %}
