
<img alt="" width="548" src="{{ asset('upload/'~articles.image) }}">
<p>{% if(app.session.get('_locale')=='en') %} {{ articles.descEn|raw }} {% else %} {{ articles.descFr|raw }} {% endif %}</p>
<div class="share"><a class="facebook" href="">facebook</a><a class="twitter" href="">twitter</a><br clear="all"></div>

