{% extends "layout.html.twig" %}
{% block title %}JOSEPH CARTRON{% endblock %}
{% block body %}
    <div>
        <div class="main text-black">
            <div class="privacy-policy">
                <h2 class="text-black">{{"privacy_policy" |trans}}</h2>
                <div class="text-black">
                    <br>
                    Gestion des données personnelles.
                    <br><br>
                    Quelles sont les données collectées et sur quelle base juridique ?
                    <br><br>
                    A l’occasion de l’utilisation du site http://cartron.fr/, nous sommes amenés à collecter un certain nombre de données personnelles pour organiser au mieux nos relations commerciales et le service que vous attendez ou aux fins de nos intérêts légitimes en tant que responsable du traitement. Peuvent ainsi être recueillies, par exemple : l’URL des liens par l’intermédiaire desquels l’utilisateur a accédé au site http://cartron.fr/, le fournisseur d’accès de l’utilisateur, l’adresse de protocole Internet (IP) de l’utilisateur.
                    Sur les pages où des données à caractère personnel sont demandées, vous serez informés du caractère obligatoire (signalé par les symboles « * ») ou facultatif de leur transmission, ainsi que des conséquences éventuelles de leur non renseignement. L’utilisateur fournit ces informations en toute connaissance de cause, notamment lorsqu’il procède par lui-même à leur saisie.
                    Aucune information personnelle de l’utilisateur du site http://cartron.fr/  n’est publiée à l’insu de l’utilisateur, échangée, transférée, cédée ou vendue sur un support quelconque à des tiers. Seule l’hypothèse du rachat de Cartron  et de ses droits permettrait la transmission des dites informations à l’éventuel acquéreur qui serait à son tour tenu de la même obligation de conservation et de modification des données vis à vis de l’utilisateur du site http://cartron.fr/.
                    <br><br>
                    Quelles sont vos droits ?
                    Conformément au Règlement Général sur la Protection des Données n° 2016/679 du 27 avril 2016 et sous réserve d’en faire la demande expresse vous disposez d’un droit d’accès et de rectification de vos données personnelles, ainsi que d’un droit d’opposition et d’un droit à l’effacement des données personnelles vous concernant, que vous pouvez exercer en écrivant à notre service client par mail à cartron@cartron.fr ou par courrier à Cartron – Joseph Cartron - 25, Rue du Docteur Louis Legrand – CS 30028 - 21701 Nuits-Saint-Georges Cedex - France et en joignant copie de votre pièce d’identité.
                    <br><br>
                    En cas d’exercice du droit d’opposition, notre entreprise cessera le traitement de vos données personnelles, sauf en cas de motif(s) légitime(s) et impérieux pour le traitement, ou pour assurer la constatation, l’exercice ou la défense de ses droits en justice. Le cas échéant, notre entreprise vous informera des motifs pour lesquels les droits que vous souhaitez exercer ne sauraient être satisfaits en tout ou partie.
                    Cartron et ses collaborateurs s’attachent tous les jours au respect de la vie privée et à la protection des données personnelles. Si vous aviez des remarques à formuler ou si malencontreusement, nous n’avions pas été au rendez-vous de vos attentes, nous vous invitons à adresser un courriel à l’adresse cartron@cartron.fr.
                    En l’absence de réponse de notre part ou si le différend persiste malgré notre proposition, vous avez la possibilité d’introduire une réclamation auprès de la Commission Nationale Informatique et Libertés ou de l’autorité de contrôle de l’état Membre de l’Union Européenne au sein duquel vous résidez habituellement.
                    Combien de temps les données sont conservées ?
                    Les données personnelles vous concernant ne sont pas conservées au-delà de la durée strictement nécessaire aux finalités poursuivies telles que précisées lors de leur collecte.
                    Cartron s’engage à archiver ou à supprimer les données personnelles vous concernant dès que la finalité et la durée légale maximale de leur conservation expirent.
                    <br><br>
                    Qui est destinataire des données ?
                    Cartron est destinataire des données collectées, en ce compris les personnels habilités et autorisés de notre entreprise ayant, de par leurs fonctions, besoin d’en avoir connaissance pour les finalités du traitement.
                    Certaines prestations techniques (hébergement, maintenance..), marketing ou logistiques étant susceptibles d’être confiées à des sociétés tierces, Cartron  s’engage à ce que ces dernières  reçoivent exclusivement les données nécessaires à leur mission après nous être assurés préalablement auprès de nos prestataires des conditions de sécurité et de confidentialité de l’utilisation des données transmises.
                    <br><br>
                    Sécurité des données 
                    Nous nous sommes engagés à assurer la sécurité et la confidentialité des données à caractère personnel adaptées aux risques du traitement et à la nature de vos données personnelles, grâce à des mesures techniques et organisationnelles strictes au sein de notre entreprise. Pour les données collectées « en ligne », nous utilisons le protocole de cryptage SSL délivré par GlobalSign qui vous garantit un haut niveau de protection.
                    <br><br>
                    Liens hypertextes
                    Le site http://cartron.fr/ contient un certain nombre de liens hypertextes vers d’autres sites, mis en place avec l’autorisation de Cartron . Cependant, Cartron  n’a pas la possibilité de vérifier le contenu des sites ainsi visités, et n’assumera en conséquence aucune responsabilité de ce fait.
                    <br><br>
                    Cookies
                    Cette rubrique « cookies » vous permet d’en savoir plus sur l’origine et l’usage des informations de navigation traitées à l’occasion de votre consultation de notre http://cartron.fr/ et sur vos droits. Cette rubrique est donc importante pour vous, qui souhaitez avoir une expérience positive et confiante de nos services et pour nous, qui souhaitons répondre de manière précise et complète à vos questions sur votre consultation de notre site http://cartron.fr/ et tenir compte de vos souhaits.
                    <br><br>
                    Ainsi, lors de la consultation notre http://cartron.fr/, des informations relatives à la navigation de votre terminal (ordinateur, tablette, smartphone, etc.) sur notre site/application, sont susceptibles d’être enregistrées dans des fichiers « Cookies » installés sur votre terminal. Par ailleurs, nous sommes susceptibles d’acheter des espaces publicitaires directement ou par l’intermédiaire de nos prestataires (agences de communication, régies publicitaire) afin de promouvoir nos activités et nos offres sur des sites/applications de tiers, au moyen de contenus publicitaires (texte, graphismes, animations, vidéos, etc.) diffusés par ces sites/applications. Sachez que seul l’émetteur d’un cookie est susceptible de lire ou de modifier des informations qui y sont contenues.
                    <br><br>
                    Gestion des cookies par votre navigateur internet.
                    Dans votre ordinateur les cookies sont gérés par votre navigateur internet.
                    Différents types de cookies: Lorsque vous vous connectez à notre site http://cartron.fr/, nous pouvons être amenés, sous réserve de vos choix (voir  « Vos choix concernant les cookies » ), à installer divers cookies dans votre terminal nous permettant de reconnaître le navigateur de votre terminal pendant la durée de validité du cookie concerné.
                    Différents types de cookies sont utilisés sur notre site, ils ont des finalités différentes.
                    Les cookies fonctionnels : Il s’agit des cookies qui permettent à Cartron  de personnaliser votre expérience sur notre site (par exemple vous rappeler les derniers produits consultés, mémoriser vos données de connexion, les articles de votre panier avant de poursuivre vos achats.) ou d’adapter la présentation de notre site http://cartron.fr/ aux préférences d’affichage de votre terminal (résolution d’affichage, système d’exploitation utilisé, etc) lors de vos visites sur notre Site http://cartron.fr/, selon les matériels et les logiciels de visualisation ou de lecture que votre terminal comporte.
                    Les cookies analytiques : Il s’agit des cookies qui permettent à Cartron  de renforcer les performances du site et d’en améliorer le fonctionnement (par exemple lors de sa consultation, notre site collecte, à partir des logiciels activés par votre propre ordinateur, des données sur la date, les pages consultées, le temps de consultation ainsi que l’adresse informatique de votre ordinateur, le fournisseur d’accès, le moteur de recherche, le lien à l’origine de cette consultation.) Cette collecte nous permet d’améliorer l’ergonomie de notre site et de renforcer l’efficacité de nos partenariats.
                    Les cookies tiers : Lorsque vous accédez à notre site Internet, un ou plusieurs cookies de sociétés partenaires (« cookies tiers ») sont susceptibles d’être placés dans votre ordinateur ( exemples  non-exhaustifs : facebook, youtube, ..).
                    Vos choix concernant les cookies Plusieurs possibilités vous sont offertes pour gérer les cookies.
                    Tout paramétrage que vous pouvez entreprendre sera susceptible de modifier votre navigation sur Internet et vos conditions d’accès à certains services nécessitant l’utilisation de Cookies. Vous pouvez faire le choix à tout moment d’exprimer et de modifier vos souhaits en matière de cookies, par les moyens décrits ci-dessous, en configurant votre logiciel de navigation.
                    Vous pouvez configurer votre logiciel de navigation de manière à ce que des cookies soient enregistrés dans votre terminal ou, au contraire, qu’ils soient rejetés, soit systématiquement, soit selon leur émetteur. Vous pouvez également configurer votre logiciel de navigation de manière à ce que l’acceptation ou le refus des cookies vous soient proposés ponctuellement, avant qu’un cookie soit susceptible d’être enregistré dans votre terminal.
                    Pour plus d’informations, consultez la rubrique « Comment exercer vos choix, selon le navigateur que vous utilisez ? »
                    L’enregistrement d’un cookie dans un terminal est essentiellement subordonné à la volonté de l’utilisateur du Terminal, que celui-ci peut exprimer et modifier à tout moment et gratuitement à travers les choix qui lui sont offerts par son logiciel de navigation. Si vous avez accepté dans votre logiciel de navigation l’enregistrement de cookies dans votre Terminal, les cookies intégrés dans les pages et contenus que vous avez consultés pourront être stockés temporairement dans un espace dédié de votre Terminal. Ils y seront lisibles uniquement par leur émetteur.
                    Si vous refusez l’enregistrement de cookies dans votre terminal, ou si vous supprimez ceux qui y sont enregistrés, vous ne pourrez plus bénéficier d’un certain nombre de fonctionnalités qui sont néanmoins nécessaires pour naviguer dans certains espaces de notre site. Tel serait le cas si vous tentiez d’accéder à nos contenus ou services qui nécessitent de vous identifier. Tel serait également le cas lorsque nous -ou nos prestataires- ne pourrions pas reconnaître, à des fins de compatibilité technique, le type de navigateur utilisé par votre terminal, ses paramètres de langue et d’affichage ou le pays depuis lequel votre terminal semble connecté à Internet. Le cas échéant, nous déclinons toute responsabilité pour les conséquences liées au fonctionnement dégradé de nos services résultant de l’impossibilité pour nous d’enregistrer ou de consulter les cookies nécessaires à leur fonctionnement et que vous auriez refusés ou supprimés.
                    Si vous partagez l’utilisation de votre terminal avec d’autres personnes
                    Nous ne pouvons pas nous assurer de manière certaine que les services et publicités destinés à votre terminal correspondent bien à votre propre utilisation de ce terminal et non à celle d’un autre utilisateur de ce terminal.
                    Le partage avec d’autres personnes de l’utilisation de votre terminal et la configuration des paramètres de votre navigateur à l’égard des cookies, relèvent de votre libre choix et de votre responsabilité.
                    Comment exercer vos choix, selon le navigateur que vous utilisez ?
                    Pour la gestion des cookies et de vos choix, la configuration de chaque navigateur est différente. Elle est décrite dans le menu d’aide de votre navigateur, qui vous permettra de savoir de quelle manière modifier vos souhaits en matière de cookies.
                    Pour Internet Explorer : cliquez ici Pour Safari : cliquez ici Ou suivez les instructions suivantes : choisissez Safari > Préférences puis cliquez sur Sécurité ; cliquez sur Afficher les cookies puis choisissez les options souhaitées Pour Chrome : cliquez ici Ou suivez les instructions suivantes : ouvrez le menu de configuration (logo clé à molettes), puis sélectionnez Paramètres ; cliquez sur Paramètres avancés puis sur Paramètres de contenu, puis choisissez les options souhaitées Pour Firefox : cliquez ici Pour Opera : cliquez ici
                    <br><br>
                    Vous pouvez également accéder au panneau de gestion des cookies de notre site http://cartron.fr/ :
                    en cliquant sur  le bouton d’accès au panneau de paramétrage des cookies situé en bas de cette page.
                    <br><br>
                    Pour en savoir plus sur les cookies et leur gestion, visitez https://www.cnil.fr/fr/cookies-les-outils-pour-les-maitriser ou cliquez sur l’option « Aide » du menu de votre navigateur.
                    <br><br>
                    Divers.
                    Vous reconnaissez que cette politique en matière de données personnelles et de cookies ne s’applique que dans le cadre de la consultation et de l’utilisation de notre site  http://cartron.fr/, et ne couvre en aucun cas les informations collectées et/ou traitées sur les sites ou sources externes, dont le lien figure sur notre site. En conséquence, Cartron ne saurait être responsable des pratiques de ces sites ou sources externes en matière de collecte et de traitement de données personnelles, qui sont régies, le cas échéant, par les politiques de données personnelles propres à chacun de ces sites ou sources externes.
                    <br><br>
                    Cartron ne maîtrise toutefois pas les risques liés au fonctionnement d’internet et attire l’attention de l’utilisateur sur l’existence d’éventuels risques en terme de pertes ponctuelles de données ou d’atteinte à la confidentialité des données transitant via ce réseau.
                    <br><br>
                    Droit applicable et attribution de juridiction.
                    Tout litige en relation avec l’utilisation du site http://cartron.fr/ est soumis au droit français. Il est fait attribution exclusive de juridiction aux tribunaux compétents du siège de Cartron .
                    <br><br>
                    Les principales lois concernées.
                    En France, les données personnelles sont notamment protégées par la loi n° 78-87 du 6 janvier 1978, la loi n° 2004-801 du 6 août 2004, l’article L. 226-13 du Code pénal et la Directive Européenne du 24 octobre 1995.
                    Les bases de données sont protégées par les dispositions de la loi du 1er juillet 1998 transposant la directive 96/9 du 11 mars 1996 relative à la protection juridique des bases de données.
                    Loi n° 78-17 du 6 janvier 1978, notamment modifiée par la loi n° 2004-801 du 6 août 2004 relative à l’informatique, aux fichiers et aux libertés.
                    Loi n° 2004-575 du 21 juin 2004 pour la confiance dans l’économie numérique.
                    Lexique.
                    Utilisateur : Internaute se connectant, utilisant le site susnommé.
                    Informations personnelles : « les informations qui permettent, sous quelque forme que ce soit, directement ou non, l’identification des personnes physiques auxquelles elles s’appliquent » (article 4 de la loi n° 78-17 du 6 janvier 1978).
                </div>
            </div>
        </div>
    </div>
{% endblock %}
