{% extends "layout.html.twig" %}
{% block title %}JOSEPH CARTRON{% endblock %}
{% block body %}
<link rel="stylesheet" href="{{ asset('site/css/login.css') }}" type="text/css" media="screen" title="default" />
<script type="text/javascript">
$( document ).ready(function() {
    // gestion des checkboxes
    $('input[type="checkbox"]').change(function () {
        var $this = this.closest(".ez-checkbox");
        $($this).toggleClass("ez-checked");
    });
});

</script>
<body id="login-bg"> 
 
<!-- Start: login-holder -->
<div id="login-holder">
	
	<div class="clear"></div>
	
	<!--  start loginbox ................................................................................. -->
	<div id="loginbox">

	<h2> Demande d'accès à l'espace professionnel </h2>
	
	<!--  start login-inner -->
	<div id="login-inner">
		<form action="{{ path('login') }}" method="post">
			<table border="0" cellpadding="0" cellspacing="0">
				<tr>
		
					<td><input class="login-inp" type="text" id="username" name="_username" placeholder="PRENOM" value="" /></td>
				</tr>
				<tr>

					<td><input class="login-inp" type="text" id="username" name="_username" placeholder="NOM" value="" /></td>
				</tr>
                <tr>
				
					<td><input class="login-inp" type="text" id="username" name="_username" placeholder="MAIL" value="" /></td>
				</tr>
                <tr>
					<td class="separator"></td>
				</tr>
                <tr>
					<td><span>Votre Profil</span></td>
				</tr>
                  <tr>
					<td class="separator"></td>
				</tr>
                <tr>
                 <td class="checkbox-container">
                    <div class="ez-checkbox">
                        <input type="checkbox" name="agent" value="agent" class="ez-hide"/>
                    </div>
                        <label for="agent">Agent</label>

                    <div class="ez-checkbox">
                        <input type="checkbox" name="importateur" value="agent" class="ez-hide"/>
                    </div>
                        <label for="agent">Importateur</label>

                    <div class="ez-checkbox">
                        <input type="checkbox" name="professionnel" value="agent" class="ez-hide"/>
                    </div>
                        <label for="agent">Professionnel</label>             
                    </td>
                </tr>
                <tr>
					<td class="separator"></td>
				</tr>
                <tr>
					<td><input class="login-inp" type="text" id="username" name="_username" placeholder="SOCIÉTÉ" value="" /></td>
				</tr>
                <tr>
					<td> <textarea name="message"></textarea></td>
				</tr>
                <tr>
                    <td><span class="disclaimer">En cliquant sur OK, vous reconnaissez avoir pris connaissance des conditions d'utilisation de l'espace professionnel et déclarez les accepter sans réserve</span></td>
                </tr>
				<tr>
					<td><button class ="submit-login" type="submit" class="button-primary">OK</button></td>
				</tr>
			</table>
        <form>
	</div>
 	<!--  end login-inner -->
	<div class="clear"></div>
	
 </div>
 <!--  end loginbox -->
 
	

</div>
<!-- End: login-holder -->
</body>
{% endblock %}
