h2 {
    color: #393939;
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
    margin-bottom: 10px;
    width: 100%;
    padding: 0;
    text-align: center;
    background: url(../../site/images/bg-titre-contact.png) no-repeat;
    background-position: center;
}


/*  LOGIN -------------------------------------------------------------------------------- */

#login-bg {
    background: url(../../site/images/img-fond-pro.jpg) no-repeat center top;
    background-size: cover;
}

#login-holder {
    margin: 0px auto 0 auto;
    width: 100%;
    min-height: 820px;
}

#loginbox {
    font-size: 12px;
    height: 212px;
    line-height: 12px;
    padding-top: 60px;
    position: relative;
    max-width: 508px;
    margin: 0 auto;
}

#loginbox h2{
    height: 20px;
    line-height: 20px;
    padding: 0;
    color: #ddd;
    font-family: 'Georgia';
    text-transform: uppercase;
    margin: auto;
    text-align: center;
    font-weight: normal;
    margin-bottom: 32px;
}


#login-inner {
    color: #161616;
    font-family: Tahoma;
    font-size: 13px;
    line-height: 12px;
    margin: 0 auto;
    width: 310px;
}

.checkbox-size {
    width: 13px;
    height: 13px;
    margin: 5px 0;
}

#login-inner th {
    padding: 0 0 6px 0;
    text-align: left;
    width: 95px;
}

#login-inner td {
    padding: 0 0 6px 0;
}

.login-inp {
    width: 304px;
    height: 26px;
    line-height: 26px;
    margin-top: 4px;
    padding: 0 10px;
    color: #9AA6B2;
    font-size: 10px;
    font-family: 'Georgia';
    border: 1px solid #535A5E;
    background: none;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.login-inp::placeholder{
    color: #9AA6B2;
}

.submit-login {
    width: 39px;
    height: 16px;
    line-height: 16px;
    margin: 4px 0 0 6px;
    float: right;
    display: block;
    color: #FFF;
    font-size: 10px;
    font-family: 'Georgia';
    text-transform: uppercase;
    cursor: pointer;
    border: none;
    background: #3E4951;
}

#loginbox span{
    color: #9AA6B2;
    font-size: 12px;
    font-family: 'Georgia';
    text-transform: uppercase;
}

#loginbox label{
    color: #9AA6B2;
    font-size: 12px;
    font-family: 'Georgia';
    text-transform: uppercase;
    padding: 4px;
}

#loginbox .ez-hide{
    opacity: 0;
}

#loginbox .ez-checkbox{
    background: transparent url(../images/checkbox-red.png) 0 1px no-repeat;
    display: inline-block;
}

#loginbox .disclaimer, #to_login{
    text-transform: none;
    font-style: italic;
    line-height: 18px;
    text-align: center;
    color: #9AA6B2;
}

#to_login:hover, #to_login:active, #to_login:focus{
    color: #ffffff;
    cursor: pointer;
}

#loginbox .separator{
    height: 12px;
}

#loginbox textarea {
    width: 304px;
    height: auto;
    min-height: 120px;
    margin-top: 4px;
    padding: 0 10px;
    color: #9AA6B2;
    font-size: 10px;
    font-family: 'Georgia';
    border: 1px solid #535A5E;
    background: none;
    letter-spacing: 1px;
    text-transform: uppercase;
}

#loginbox .ez-checked {
    background-position: 0 -18px;
}