@media only screen and (max-width: 1024px) { 
    #contact .espacePro{
        zoom: 0.7;
        -moz-transform: scale(0.7);
    }
	/*
    .menu_collection {
        zoom: 0.7;
         -moz-transform: scale(0.7);
    }
    .camera_pag{
        position: relative;
        top: -52px;
    }
    .desc_collections li a {
        font-size: 14px;
    }
    .menu_collection a {
        font-size: 12px!important;
        line-height: 16px!important;
    }
    .menu_collection a span {
        font-size: 14px!important;
        line-height: 16px!important;
    }
    .collection-home .menu_collection {
        height: 65px;
    }
    .collection-home .menu_collection li {
        height: 100%;
    }
    .collection-home .menu_collection li a {
        height: 49px;
    }
    .collection-home .content{
         -moz-transform: scale(0.7);
        zoom:0.7;
    }
    .collection-home .camera_wrap{
         -moz-transform: scale(0.7);
        zoom:0.7;

    }
    .collection-home .camera_wrap p{
       font-size: 16px!important;
       line-height: 18px!important;
        
    }
    #camera_wrap_1 .description .link-produits a{
        font-size: 16px!important;
    }

    .degustation-home .content{
        -moz-transform: scale(0.7);
        zoom:0.7;
    }
    .degustation-home .content p{
        font-size: 16px!important;
       line-height: 18px!important;
    }
	*/

    /*Savoir Faire */
    #savoir-faire .main {
        height: 335px;
    }
         #savoir-faire .main p{
            font-size: 13px;
        }
		 /*
    .savoir-faire-home {
        padding-top: 12px;
        margin: auto;
        width: 615px;
    }
	*/
        .savoir-faire-home > div{
            width: 615px;
        }
		/*
        .savoir-faire-home > ul{
            width: 492px;
            margin: 0 auto;
        }
		*/
		/*
            .savoir-faire-home ul li{
                width:120px;
                height: 75px;
            }
			*/
                .savoir-faire-home ul li a{
                    width:100%;
                }
                .savoir-faire-home ul li img{
                    width: 100%;
                }
            .savoir-faire-home ul a{
                width:100%;
            }   
    .savoir-faire-creation{
        height: 306px;
        width: 100%;
    }
         .savoir-faire-creation .desc-creation, .savoir-faire-creation .desc-creation-noScroll{
        height: 130px;
        }
        .savoir-faire-creation .link-liqueur {
            top: 139px;
        }
        .savoir-faire-creation .link-eau-vie-home{
            top: 169px;
        }
    /* Fin Savoir Faire*/


    /* Patrimoine */
    #bourgogne .main, #licornes .main, #histoire .main{
       height:100%; 
    }
    .content-histoire{
        height: 100%;
    }
        .content-histoire h1 {
            margin: 10px auto 7px;
            font-size: 20px!important;
        }
            .content-histoire h1 a {
                height: 40px;
            }
        /* Specifique page Bourgogne*/
        #bourgogne .content-histoire ul a {
            font-size: 11px;
            padding-top: 12px;
            height: 48px;
            line-height: 18px;
        }
        .content-histoire img {
            margin: 10px auto 10px auto;
        }
        .content-histoire .desc-histoire{
            height: 100px;
        }
        .content-histoire .desc-licornes{
            height: 200px;
            overflow: auto;
        }
        .content-histoire .titre-bourgogne{
            margin-top: 0;
        }
        .desc-creation{
            width: 420px;
        }

    .content-histoire p.intro {
        line-height: 18px;
        margin: 20px auto 23px;
        font-size: 17px;
    }
    .content-histoire > ul li {
        height: 67px;
    }
        .content-histoire > ul li a {
            height: 61px;
        }
        .content-histoire > ul li span.nom{
            font-size: 13px;
        }
        .content-histoire > ul li span.annee{
            font-size: 20px;
            margin-top: 0;
        }
        @-moz-document url-prefix() { 
              .collection-home .menu_collection {
                position: relative;
                top: -13px;
            }
            .camera_wrap{
                 position: relative;
                top: -120px;
            }
            .degustation-home .content {
                position: relative;
                top: -88px;
            }
            #contact .espacePro{
       position: relative;
    top: -75px;
    }
        }
/*
    .degustation-home .menu_degustation li .scrollMenu{
        height:320px;
    }
    .degustation-home .menu_degustation li ul.subMenu{
        height:320px;
    }
    */
    /* Fin Patrimoine */
}
@media only screen and (min-width: 1024px) and (max-width: 1380px) {

    #contact .espacePro{
        zoom: 0.7;
        -moz-transform: scale(0.7);
    }
	/*
    .desc_collections li a {
        font-size: 14px;
    }
    .camera_pag{
        position: relative;
        top: -52px;
    }
    .menu_collection a {
        font-size: 12px!important;
        line-height: 16px!important;
    }
    .menu_collection a span {
        font-size: 14px!important;
        line-height: 16px!important;
    }
	
    .collection-home .menu_collection {
        height: 65px;
    }
    .collection-home .menu_collection li {
        height: 100%;
    }
    .collection-home .menu_collection li a {
        height: 49px;
    }
    @-moz-document url-prefix() { 
      .collection-home .menu_collection {
        position: relative;
        top: -13px;
    }
    .camera_wrap{
         position: relative;
        top: -120px;
    }
    .degustation-home .content {
                position: relative;
                top: -88px;
            }
#contact .espacePro{
       position: relative;
    top: -75px;
    }

    }

    .collection-home .content{
        zoom:0.7;
        -moz-transform: scale(0.7);
    }
    .collection-home .camera_wrap{
        zoom:0.7;
        -moz-transform: scale(0.7);

    }
    .collection-home .camera_wrap p{
       font-size: 16px!important;
       line-height: 18px!important;
        
    }
    #camera_wrap_1 .description .link-produits a{
        font-size: 16px!important;
    }

    .degustation-home .content{
        zoom:0.7;
        -moz-transform: scale(0.7);
    }
    .degustation-home .content p{
        font-size: 16px!important;
       line-height: 18px!important;
    }
	*/

    /* Savoir Faire*/
    #savoir-faire .main {
        height: 415px;
    }
         #savoir-faire .main p{
            font-size: 13px;
        }
		 /*
    .savoir-faire-home {
        margin: auto;
        width: 740px;
        padding-top: 12px;
    }
	*/
        .savoir-faire-home > div{
            width: 740px;
        }
		/*
        .savoir-faire-home > ul{
            width: 592px;
            margin: 0 auto;
        }
		*/
            .savoir-faire-home ul a{
                width:100%;
            }
			/*
            .savoir-faire-home ul li{
                width: 145px;
                height: 96px;
            }
			*/
            .savoir-faire-home ul li a{
                width:100%;
            }
            .savoir-faire-home ul li img{
                width: 100%;
            }
        .savoir-faire-creation .desc-creation, .savoir-faire-creation .desc-creation-noScroll{
            height: 200px;
        }
    /*Fin Savoir Faire*/



    /* Patrimoine */

    /*Conteneur des pages patrimoines*/
    #bourgogne .main, #licornes .main, #histoire .main{
      height: 100%;
    }
    .content-histoire{
        height: 100%;
    }
    .content-histoire h1 {
        margin: 10px auto 7px;
        font-size: 20px!important;
    }
        .content-histoire h1 a {
            height: 40px;
        }
        .content-histoire p.intro {
            line-height: 18px;
            margin: 20px auto 23px;
            font-size: 17px;
        }
        .content-histoire img {
            margin: 4px auto 10px auto;
        }
        /*Specifique page bourgogne*/
        #bourgogne .content-histoire ul a {
            font-size: 11px;
            padding-top: 12px;
            height: 48px;
            line-height: 18px;
        }
        #bourgogne .content-histoire ul.titre-bourgogne{
            margin-top: 0;
        }

    .content-histoire .desc-histoire{
        height: 100px;
    }
    .content-histoire .desc-licornes{
        height: 200px;
        overflow: auto;
    }
    .desc-creation{
        width: 420px;
    }

   .content-histoire > ul li {
        height: 67px;
    }
        .content-histoire > ul li a {
            height: 61px;
        }
            .content-histoire > ul li span.nom{
                font-size: 13px;
            }
            .content-histoire > ul li span.annee{
                font-size: 20px;
                margin-top: 0;
            }
    
    /*
    .degustation-home .menu_degustation li .scrollMenu{
        height:320px;
    }
    .degustation-home .menu_degustation li ul.subMenu{
        height:320px;
    }
    */
    /* Fin Patrimoine */
}

@media only screen and (min-width: 1380px) {
    /*#degustation .footer{
        position: fixed;
        bottom: 0;
        width: 100%;
    }*/
}
