html,body, .site{ min-height: 100% }


*{
margin:0;
padding:0;
border:0;
font-family: 'Georgia';
color:#FFFFFF;
outline:none;
}

ul {
    list-style:none;
}

a{
    outline:none;
    text-decoration:none;
}

.fl{
    float:left;
}
.fr{
    float:right;
}
.dn span{
    display:none;
}
body{
    background:#36424a;
}
body#agegate{
    background:url(../../images/bg-agegate.jpg) #36424a no-repeat center top;
}
.logo{
    background:url(../../images/logo.png) no-repeat;
    width:73px;
    height:75px;
    display:block;
    margin: 16px auto;
}
.nav-top{
    background:url(../../images/bg-nav-top.png) no-repeat center top;
    height:35px;
}
.header{
	padding-top: 1px;
	background: url('../../images/bg-body-head.jpg') no-repeat center
}
.footer{
	background: url('../../images/bg-body-footer.jpg') no-repeat center;
	overflow: auto;
}
.header-content{
    width:100%;
    margin:auto;
    position:relative;
}
.menu-top{
    list-style:none;
    margin:auto;
    text-align:center;
}
.menu-top li{
    margin:0 25px 0 25px;
    height:35px;
    line-height:35px;
    display:inline;
}
.menu-top li a{
    display:inline-block;
    height:35px;
    line-height:35px;
    font-size:11px;
    text-transform:uppercase;
    text-decoration:none;
    font-family: 'Georgia';
    letter-spacing: 1px
}

.menu-top li a:hover, .menu-top li a.active{
    background:url(../../images/bg-lien-degustation.png) no-repeat center 25px;
}
.recherche-form{
    position:absolute;
    right:10px;
    top:4px;
}
.recherche-form input{
    background:url(../../images/bg-recherche.png) no-repeat;
    height:25px;
    line-height:25px;
    width:112px;
    padding:0 15px 0 25px;
}
.espace-pro-header{
    background:url(../../images/espace-pro-header_03.gif) no-repeat;
    font-family: 'Source Sans Pro';
    position:absolute;
    top:-44px;
    right:10px;
    display:block;
    padding-left:30px;
    font-size:12px;
    text-transform:uppercase;
    text-decoration:none;
}
.espace-pro-header strong{ font-family: 'Source Sans Pro'; }
.main{
    height:666px;
    position:relative;
}
#home .main{
    background:url(../../images/bg-main-hp.jpg) no-repeat center top;
    height:100%;
    background-size: cover
}

#histoire .main{
    background:url(../../images/bg-histoire.jpg) no-repeat center top;
}
#licornes .main{
    background:url(../../images/bg-main-licornes.jpg) no-repeat center top;
}
#bourgogne .main{
    background:url(../../images/bg-bourgogne.jpg) no-repeat center top;
}
#savoir-faire .main{
    background:url(../../images/bg-savoir-faire.jpg) no-repeat center top;
}
#collection .main{
    background:url(../../images/bg-collection.jpg) no-repeat center top;
}
#degustation .main{
	background:url(../../images/bg_degustation.jpg) repeat-x 2% 0;
	position:relative;
	overflow:hidden;
	width:100%;
	height: auto;
	background-size: auto 100%
}
#collection-produits .main{
	background:url(../../images/bg-collection-produits.jpg) no-repeat center top;
}
#degustation-produits .main{
	background:url(../../images/bg-degustation-produits.jpg) no-repeat center top;
}
#pro .main{
    background:url(../../images/img-fond-pro.jpg) no-repeat center top;
    background-size: cover;
}
#contact .main{
    background:url(../../images/bg-contact.jpg) no-repeat center top;
}
.content-histoire{
    background:url(../../images/bg-content-histoire.png) left top;
    height:666px;
    width:509px;
    margin:auto;
    overflow:hidden;
    position:relative;
    text-align: center;
}
.caroussel-home{
    background:url(../../images/bg-caroussel-home.jpg) no-repeat center top;
    height:80px;
}
.video-news-home{
    width:100%;
    max-width:1020px;
    margin:auto;
    height:80px;
}
.video-home{
    float:left;
    margin-top:10px;
}
.video-home img, .news-home img{
    float:left;
    margin-right: 10px;
    margin-left: 10px
}
.news-home{
    float:right;
    margin-top:10px;
	margin-right: 0px
}
.txt-video-news-home{
    float:right;
}


.txt-video-news-home h2{
    background:url(../../images/bg-titre-home.gif) no-repeat left bottom;
    padding-bottom:2px;
    margin-bottom:8px;
    font-weight: normal;
}
.txt-video-news-home h2 a{
    font-family: 'Georgia';
    text-transform:uppercase;
    font-size:11px;
    text-decoration:none;
}
.txt-video-news-home h2 a span{
    font-family: 'Georgia';
    font-size:11px;
    color:#f8ca50;
}

.txt-video-news-home h2 a span:last-of-type{
    color:#fff;
}
.txt-video-news-home h2 a:hover{
    color:#f8ca50;
}
.txt-video-news-home p{
    font-family: 'Source Sans Pro';
    font-size:11px;
    font-style:italic;
}
.txt-video-news-home .voir-video{
    display:inline-block;
    background:url(../../images/bg-voir-video.png) no-repeat right center;
    padding-right:35px;
    height:22px;
    line-height:22px;
    text-decoration:none;
    font-size:11px;
    font-weight:bold;	
    font-family: 'Georgia';
    text-transform:uppercase;
}
.langues-reseaux{
    width:95%;
    max-width:1000px;
    margin:auto;
}
.reseaux{
    float:right;
    margin:6px 15px 0 0;
}
.reseaux li{
    float:left;
    list-style:none;
    height:22px;
}
.reseaux li a{
    display:block;
    height:18px;
    padding-top:6px;
    text-decoration:none;
    font-size:12px;
    text-transform:uppercase;
    font-family: 'Source Sans Pro';
    margin-right:10px;
}
.reseaux li a.facebook,
.reseaux li a.twitter{
    display:block;
    height:22px;
    width:21px;
    text-indent:-9999px;
    background-image:url(../../images/reseaux.gif);
    background-repeat:no-repeat;
    background-position:left top;
    margin:0 0 0 3px;
    padding:0;
}
.reseaux li a.instagram{
    display:block;
    height:22px;
    width:21px;
    text-indent:-9999px;
    background-image:url(../../images/instagram.png);
    background-repeat:no-repeat;
    background-position:left top;
    margin:0 0 0 3px;
    padding:0;
}
.reseaux li a.twitter{
    background-position:right top;
}
.menu-footer{
    height:20px;
    text-align:center;
}
.menu-footer-01{
    background:url(../../images/bg-footer-01.gif) no-repeat center center;
}
.menu-footer ul li{
    /*float:left;*/
    list-style:none;
    margin:0 12px;
    display:inline;
}
.menu-footer ul li a{
    display:inline-block;
    font-family: 'Source Sans Pro';
    font-size:10px;
    text-transform:uppercase;
    text-decoration:none;
}
.menu-footer ul li a:hover{
    color:#cccccc;
    text-decoration:underline;
}
.menu-footer-01 ul{
    width:350px;
    margin:auto;
    overflow:hidden;
    text-align:center;
}
.menu-footer-02 ul{
    width:100%;
    margin:auto;
    overflow:hidden;
    text-align:center;
    line-height: 60%;
}
.mention{
    text-align:center;
    text-transform:uppercase;
    font-size:10px;
    font-weight:normal;
    margin:10px 0 10px;
    font-family: 'Source Sans Pro';
}
.overlay-demande-envoyee,
.overlay-mentions, .overlay-espace-pro, .overlay-champs, .overlay-format, .overlay-passe-oublie{
    display:none;
    background:url(../../images/bg-overlay.png);
    position:fixed;
    left:0px;
    top:0;
    width:100%;
    height:100%;
    z-index:9999;
}

.pop-demande-envoyee,
.pop-up-mentions, .popup-espace-pro{
    background:#030d13;
    border:solid 1px #232e34;
    width:640px;
    margin:5% auto 0;
    padding:57px 40px;
    position:relative;
}

.pop-up-passe-oublie{
    background:#030d13;
    border:solid 1px #232e34;
    width:470px;
    margin:342px auto 0;
    padding:57px 40px;
    position:relative;
}


.pop-up-passe-oublie label {
    color: #9AA6B2;
    font-family: 'Georgia';
    font-size: 11px;
    height: 26px;
    line-height: 26px;
    margin-top: 4px;
    padding: 0 20px 0 0;
    text-transform: uppercase;
    float:left;
}

.pop-up-passe-oublie .input {
    background: none repeat scroll 0 0 transparent;
    border: 1px solid #535A5E;
    color: #9AA6B2;
    font-family: 'Georgia';
    font-size: 11px;
    height: 26px;
    line-height: 26px;
    margin-top: 4px;
    padding: 0 10px;
    width: 304px;
    float:left;
}


.pop-up-passe-oublie .submit {
    background: none repeat scroll 0 0 #3E4951;
    border: medium none;
    color: #9AA6B2;
    cursor: pointer;
    display: block;
    float: left;
    font-family: 'Georgia';
    font-size: 11px;
    height: 28px;
    line-height: 28px;
    margin: 4px 0 0 6px;
    text-transform: uppercase;
    width: 39px;
}

.pop-demande-envoyee{
    min-height:470px;
}
.pop-up-mentions h3{
    background:url(../../images/bg-title-mentions.gif) no-repeat center center;
    color:#FFFFFF;
    font-size:12px;
    text-align:center;
    text-transform:uppercase;
    line-height:14px;
    margin-bottom:70px;
}
.pop-up-mentions p{
    width:620px;
    text-align:center;
    color:#9aa6b2;
    line-height:24px;
    font-size:11px;
}
.pop-demande-envoyee p{
    margin:200px 0 0;
    text-align:center;
    text-transform:uppercase;
    font-size:11px;
    line-height:24px;
}
.pop-up-mentions p a{
    color:#9aa6b2;
    text-decoration:none;
    font-size:12px;
}
.pop-demande-envoyee a.close, .pop-up-mentions a.close, .popup-espace-pro a.close{
    background:url(../../images/bg-close.png) no-repeat;
    display:block;
    position:absolute;
    right:15px;
    top:11px;
    height:11px;
    width:10px;
}
.overlay-news{
    position:absolute;
    top:190px;
    left:0px;
    width:795px;
    height:700px;
    z-index:1;
    display:none;
}
.overlay-videos{
    position:absolute;
    top:190px;
    left:0px;
    width:100%;
    height:700px;
    z-index:1;
    display:none;
}
.pop-up-news, .pop-up-videos{
    background:#36424a;
    width:605px;
    margin:0auto 0;
}
.pop-up-videos{
    width:795px;
    margin:0 auto 0;
}
#pop-news{
    background:#36424a;
}
.pop-news-content, .pop-videos-content{
    width:548px;
    margin:0 auto 18px;
    position:relative;
    padding-top:25px
}
.pop-videos-content{
    padding-bottom:30px;
    width:738px;
}

.pop-up-news {
    background:#36424A;
    margin: 0 auto 0 auto;
    width: 605px;
}

#liste-news li{
    float:left;
}

#liste-news li:hover h3{
    color:#FFCC00;
}

.pop-news-content p, .pop-videos-content p{
    text-align:justify;
    font-size:12px!important;
    margin:15px 0 0px;
    font-family: 'Source Sans Pro';
    line-height:14px!important;
}

.pop-news-content p span, .pop-videos-content p span{
    color:#ffcc00;
    font-style:italic;
    font-family: 'Source Sans Pro';
}
.share{
    width:50px;
    height:22px;
    overflow:hidden;
    text-align:right;
    float:right;
    margin-top:5px;
}
.share a{
    display:block;
    float:left;
    height:22px;
    width:21px;
    text-indent:-9999px;
    background-image:url(../../images/reseaux.gif);
    background-position:left top;
    background-repeat:no-repeat;
    margin-left:3px;
    font-size:0px;
}
.share a.twitter{
    background-position:right top;
}
#liste-news img{
    float:left;
    margin-right:10px;
}
#liste-news h3{
    font-size:12px;
    text-transform:uppercase;
}
#agegate .site{
    max-width:1050px;
    margin:50px auto 0;
}
#agegate .logo{
    background:url(../../images/logo-bis.png) no-repeat;
    width:364px;
    height:473px;
    margin:111px 0 0;
    float:left;
}
#agegate .form-visite-content{
    width:574px;
    float:right;
}
#agegate .form-lanque{
    background:url(../../images/bg-form-langue.png) no-repeat center center;
    height:24px;
    padding-left:218px;
}
#agegate .form-lanque a{
    display:block;
    float:left;
    width:61px;
    height:22px;
    text-align:center;
    line-height:22px;
    font-size:16px;
    text-decoration:none;
    background:#171d20;
    margin-right:13px;
    border: solid 1px #FFFFFF;
}
#agegate .form-lanque a.active,
#agegate .form-lanque a:hover{
    width:63px;
    height:24px;
    line-height:24px;
    background:#3c474f;
    border:none;
}
.pour-visiter{
    text-align:center;
    font-size:11px;
    margin:65px 0;
    line-height:18px;
}
.label{
    display:block;
    margin-bottom:10px;
    text-transform:uppercase;
    font-size:10px;
}
.content-form{
    width:320px;
    margin:auto;
}
.content-form p.dateNaissance{
    position:relative;
    float:left;	
}
.content-form p label{
    position:absolute;
    left:0;
    top:1px;
    padding-left:5px;
    font-size:12px;
    color:#cccccc;
    height:25px;
    line-height:25px;
    margin:0!important;
}
.content-form .mois, .content-form .jour, .content-form .annee{
    width:73px;
    height:25px;
    border:1px solid #515658;
    line-height:25px;
    background:none;
    color:#ffffff;
    font-size:14px;
    padding:0 5px;
    margin-right:4px;
    font-family: 'Source Sans Pro';
}
.content-form .annee{
    width:130px;
    margin-right:0px;
}
.form-visite .se-souvenir span{
    float:right;
    display:block;
    margin:0 6px 0;
    font-size:10px;
    text-transform:uppercase;
}
.form-visite span.jqTransformCheckboxWrapper, #formAcces span.jqTransformCheckboxWrapper, #formAcces span.jqTransformRadioWrapper{
    border:1px solid #515658;
    float:right;
    width:8px;
    height:8px;
    margin:14px 0 0;
}
.form-visite span.jqTransformCheckboxWrapper{ margin-top: 5px }

#formAcces span.jqTransformRadioWrapper, #formAcces span.jqTransformCheckboxWrapper{
    float:left;
    margin:4px 0 0 0;
}
.form-visite a.jqTransformRadio{
    width:8px;
    height:8px;
}
#formAcces a.jqTransformChecked{
    width:8px;
    height:8px;
    background:url(../../images/checkbox.png) no-repeat center center;
}
.form-visite .bt-content{
    margin:100px 0;
    background:url(../../images/bg-bt.png) no-repeat center center;
    height:30px;
}
.form-visite .bt{
    width:144px;
    height:28px;
    text-align:center;
    margin:auto;
    display:block;
    border:1px solid #858c91;
    background:#3e4951;
    cursor:pointer;
    text-transform:uppercase;
    font-size:10px;
}
.acces-espace-pro{
    width:320px;
    margin:auto;
}
.acces-espace-pro .acces-direct{
    font-size:11px;
}
.acces-espace-pro .acces-direct span{
    background:#3e4951;
    display:inline-block;
	padding: 1px 20px;
	font-size: 11px;
	letter-spacing: 1px;
	margin-left: 5px;
}

.identifiant{
    position:relative;
    margin-top:4px;
}
.acces-espace-pro p label{
    position:absolute;
    left:0;
    top:1px;
    padding-left:5px;
    font-size:12px;
    color:#cccccc;
    height:25px;
    line-height:25px;
    margin:0!important;
}
.acces-espace-pro input[type=text], .acces-espace-pro input[type=password]{
    background: none repeat scroll 0 0 transparent;
    border: 1px solid #515658;
    height: 25px;
    line-height: 25px;
    padding:0 5px;
    width: 308px;
}
.acces-espace-pro .submit-form{
    margin:10px 0 30px;
    overflow:hidden;
}
.acces-espace-pro .submit-form input{
    float:right;
    width:49px;
    height:17px;
    background:#3e4951;
    cursor:pointer;
    line-height:18px;
    font-size:11px;
}
.acces-espace-pro .submit-form a{
    float:right;
    margin-right:6px;
    font-size:10px;
    color:#737d84;
    text-decoration:none;
    line-height:18px;
}
.acces-espace-pro .demand-d-acces{
    display:block;
    background:url(../../images/bg-demande-d-acces.gif) no-repeat right center;
    font-size:11px;
    text-transform:uppercase;
    text-decoration:none;
    float:none!important;
    color:#ffffff!important;
}
.acces-espace-pro .mention{
    margin:60px 0;
    color:#ababab;
    font-size:10px;
    line-height:18px;
}
.content-histoire h1{
    border-bottom:solid 2px #FFFFFF;
    margin:40px auto 36px;
    text-align:center;
    font-family: 'Georgia';
    letter-spacing:4px;
    font-size:28px;
    text-transform:uppercase;
    display: inline-block;
    background: url(../../images/bg-titre-patrimoine.png) repeat;
}
.content-histoire h1 a{
    text-decoration:none;
    height:58px;
    padding:5px 20px;
    display: block;
    border: 1px solid #696d70;
	border: 1px solid rgba(255,255,255,0.4);
	border-bottom: 0
}
.content-histoire h1 span{
    display:block;
    color:#cfa75a;
    font-size:10px;
    font-family: 'Source Sans Pro';
    letter-spacing:normal;	
    text-transform:none;
}
.content-histoire p.intro{
    width:272px;
    margin:0 auto 45px;
    text-align:center;
    font-size:16px;
    font-family: 'Source Sans Pro';
    font-style:italic;
}
.content-histoire p.intro em{
    font-family: 'Source Sans Pro';
}
.content-histoire > ul{
    width:507px;
    margin:auto;
}
.content-histoire > ul li{
    height:78px;
    list-style:none;
    padding:0;
}
.content-histoire > ul li a{
    height:78px;
    display:block;
    margin:0;
    padding:0;
    text-decoration:none;
    background:url(../../images/bg-link-histoire.png) no-repeat left top;
}
.content-histoire > ul li a:hover{
    background:url(../../images/bg-link-histoire.png) no-repeat left bottom;
}
.content-histoire > ul li span.annee{
    display:block;
    width:230px;
    float:left;
    border-right:solid 1px #cfa75a;
    height:60px;
    line-height:60px;
    font-size:30px;
    text-align:right;
    padding-right:20px;
    font-weight:bold;
    margin-top:7px;
}
.content-histoire > ul li span.nom{
    display:block;
    float:left;
    font-size:18px;
    text-align:left;
    margin-top:7px;
    margin-left:20px;
    color:#cfa75a;
    line-height:24px;
    margin-top:13px;
}
.content-histoire img{
    display:block;
    margin:25px auto;
}
.content-histoire .desc-histoire{
    width:427px;
    height:195px;
    overflow:hidden;
    margin:auto;
    padding-right:10px;
}
.content-histoire .desc-licornes{
    width:427px;
    height:350px;
    overflow:hidden;
    margin:auto;
    padding-right:10px;
}
.content-histoire .desc-licornes p,
.content-histoire .desc-histoire p{
    font-size:11px;
    line-height:18px;
    margin-bottom:15px;
}
.content-histoire .desc-histoire li{
	text-align:left;
    font-size:11px;
    line-height:18px;
}
.menu-bt-histoire{
    background:url(../../images/bg-menu-bt-histoire_03.png) no-repeat top center;
    height:31px;
    position:absolute;
    bottom:0;
    left:0px;
    width:100%;
}
.menu-bt-histoire ul{
    margin:auto;
    text-align:center;
}
.menu-bt-histoire ul li{
    width:23px;
    list-style:none;
    display:inline-block;
    height:23px;
    margin-top:4px;
    position:relative;
}
.menu-bt-histoire ul li a{
    display:block;
    width:23px;
    height:23px;
    background:url(../../images/bg-bt-link-histoire.png) no-repeat center center;
}
.menu-bt-histoire ul li a:hover,
.menu-bt-histoire ul li a.active{
    background:url(../../images/bg-bt-link-histoire-active.png) no-repeat center center;
}
.menu-bt-histoire ul li p{
    position:absolute;
    display:none;
    width:110px;
    height:31px;
    top:-38px;
    left:-38px;
}
#bourgogne .menu-bt-histoire ul li p{
    width:260px;
    height:31px;
    top:-38px;
    left:-110px;
    text-align:center;
    text-transform:uppercase;
    font-size:10px;
}
.menu-bt-histoire ul li p span{
    display:block;
    height:31px;
    float:left;
    width:45px;
    font-size:19px;
    font-size:10px;
}
#bourgogne .menu-bt-histoire ul li p span{
    width:260px;
    height:auto;
    text-align:center;
    font-size:10px;
    color:#CFA75A;
}
.menu-bt-histoire ul li p span.nom{
    margin-left:10px;
    line-height:14px;
    color:#CFA75A;
}
.menu-bt-histoire ul li p span.annee{
    border-right:1px solid #CFA75A;
    height:31px;
    line-height:31px;
    float:left;
    width:48px;
    font-weight:bold;
    font-size:19px;
    padding-right: 5px;
}
.overlay{display:none}
a.close{
    display:block;
    background:url(../../images/close.gif) top left no-repeat;
    width:24px;
    height:24px;
    text-indent:-9999px;
    position:absolute;
    top:-0;
    right:-55px	
}

.pop-up-passe-oublie a.close{
    right:-30px	
}

#home #patrimone{ background:#36424a; position:relative}
#patrimone .patrimoine_slides{
    height:100%;
    width:47%;
    position:absolute;
    top:0;
}

#patrimone .patrimoine_slides .table{
    display: table;
    width: 100%;
	height: 100%
}

#patrimone .patrimoine_slides .slide{
    height:100%;
    display: table-cell;
}
#licornes .content-histoire h1{
    font-size:28px;
}
#bourgogne .content-histoire h1{
    font-size:26px;
}
.retour{
    display:block;
    position:absolute;
    right:10px;
    top:10px;
    background:url(../../images/bg-close.png) no-repeat;
    width:10px;
    height:11px;
    z-index:100;
}
.savoir-faire-home .retour, .content-histoire .retour{
    background:url(../../images/bg-close-blanc.png) no-repeat;
}
#bourgogne .content-histoire ul{
    margin-top:10px;
}
#bourgogne .content-histoire ul.titre-bourgogne{
    margin-top:26px;
}
#bourgogne .content-histoire ul a{
    display:block;
    text-align:center;
    text-transform:uppercase;
    font-size:16px;
    padding-top:12px;
    height:66px;
    line-height:26px;
}
#bourgogne .content-histoire ul a:hover{
    opacity:0.7;
}
#bourgogne .content-histoire ul a span{
    color:#cfa75a;
}
.desc-histoire ul li{
    list-style:disc;
    margin-left:25px;
    font-size:14px;
    line-height:18px;
}
.savoir-faire-home{
    width:870px;
    margin:auto;
    padding-top:45px;
}
.savoir-faire-home ul li{
    width:214px;
    height:140px;
    margin:0 3px 3px 0;
    float:left;
    list-style:none;
    position:relative;
    overflow:hidden;
}
.savoir-faire-home ul li{
    width:214px;
    height:140px;
    margin:0 3px 3px 0;
    float:left;
    list-style:none;
    position:relative;
    overflow:hidden;
}
.savoir-faire-home ul li a{
    width:214px;
    height:140px;
    display:block;
}
.savoir-faire-home ul li .captionShine {
    background:url(../../images/shine.png); 
    position:absolute;
    left:-214px;
    top:0; 
    width: 214px; 
    height: 140px; 
    background-position:0 0;
    background-repeat:no-repeat;
    z-index:14;
    opacity:0.1;
}
.savoir-faire-home ul li .anime{
    width:2px;
    height:140px;
    background:#fff;
    position:absolute;
    left:-2px;
    top:0;
}
.savoir-faire-home ul li .caption{
    width:214px;
    height:140px;
    background:#000;
    color:#fff;
    font-weight:bold;
    /* fix it at the bottom */
    position:absolute;
    left:0;
    top:0px;
    /* hide it by default */
    display:none;
    /* opacity setting */
    /*filter:alpha(opacity=50); 
    -moz-opacity:0.5;   
    -khtml-opacity: 0.5;    
    opacity: 0.5;    */
    background:url(../../images/bg-caption.png);
}
.savoir-faire-home ul li .caption h3{
    margin:20px 0 0 15px;
    text-transform:uppercase;
    font-size:12px;
    font-family: 'Source Sans Pro';
}
.savoir-faire-home ul li .caption h3 span{
    font-size:22px;
}
.savoir-faire-home ul li .caption a{
    background:url(../../images/bg-link-caption.png) no-repeat left center;
    padding-left:16px;
    line-height:14px;
    display:block;
    position:absolute;
    bottom:8px;
    right:10px;
    text-transform:uppercase;
    font-size:10px;
    font-family: 'Source Sans Pro';
    text-decoration:none;
}

.savoir-faire-videos{
    position:relative;
    width:865px;
    margin:auto;
}
.savoir-faire-creation{
    position:relative;
    width:865px;
    height:568px;
    overflow:hidden;
    margin:auto;
}
.savoir-faire-creation h2{
    position:absolute;
    top:35px;
    left:47px;
    font-size:22px;
    text-transform:uppercase;
}
.savoir-faire-creation h2 span{
    display:block;
    font-size:12px;
    font-family: 'Source Sans Pro';
    font-weight: normal;
}
.savoir-faire-creation h3{
    font-size:18px;
    margin-bottom:15px;
    font-family: 'Source Sans Pro';
}
.main p{
    font-size: 12px;
    line-height: 15px;
    margin-bottom: 15px;
    text-align:justify;
}
.savoir-faire-creation .desc-creation, .savoir-faire-creation .desc-creation-noScroll{
    position:absolute;
    top:102px;
    left:47px;
    width:394px;
    height:330px;
    padding-right:20px;
}
.savoir-faire-creation .desc-creation p{
    font-family: 'Source Sans Pro';
}
.savoir-faire-creation .link-creation-bt{
    background:url(../../images/bg-link-creation-bt.png) no-repeat right top;
    position:absolute;
    bottom:0px;
    right:0px;
    height:42px;
    width:666px;
    padding-right:33px;
}
.savoir-faire-creation .link-creation-bt a{
    background: url("../../images/link-creation-bt.png") no-repeat scroll -1px 1px transparent;
    display: block;
    float: right;
    font-family: 'Garmond';
    font-size: 16px;
    height: 32px;
    line-height: 24px;
    margin: 5px 0 0 3px;
    padding: 0 17px 0 24px;
    text-decoration: none;
    text-transform: uppercase;

}
.savoir-faire-creation .link-creation-bt a span{
    font-size:12px;
    line-height:12px;
    display:block;
		font-family:'Source Sans Pro';
}
.savoir-faire-creation .link-eau-vie-home{
    position:absolute;
    top:269px;
    left:47px;
    padding-left:18px;
    font-size:12px;
    font-family: 'Source Sans Pro';
    text-transform:uppercase;
    background:url(../../images/puce-lien.png) no-repeat left center;
}
.savoir-faire-creation .link-liqueur{
    position:absolute;
    top:239px;
    left:47px;
    padding-left:18px;
    font-size:12px;
    font-family: 'Source Sans Pro';
    text-transform:uppercase;
    background:url(../../images/puce-lien.png) no-repeat left center;
}
.savoir-faire-creation .link-eau-vie{
    position:absolute;
    bottom:49px;
    left:47px;
    padding-left:18px;
    font-size:12px;
    font-family: 'Source Sans Pro';
    text-transform:uppercase;
    background:url(../../images/puce-lien.png) no-repeat left center;
}

/*************************************/
/*         Page Patrimoine           */
/*************************************/

#patrimone{ overflow: hidden; width: 100% }

#patrimone #slide_1{background:url(../../images/first_slide.png) right top no-repeat; background-size: cover; left:0; z-index:10; margin-left: -4%}

#patrimone #slide_3{background:url(../../images/thirt_slide.png) left top no-repeat; background-size: cover; z-index:10; right:0; margin-right: -4%}

#patrimone #slide_2{
    z-index:9;
    width:100%;	
    background:url(../../images/second_slide.jpg) center top no-repeat;
    background-size: cover
}
#patrimone #slide_2 .slide{ vertical-align: middle; }
#patrimone #slide_3 .slide{ vertical-align: bottom; }

#patrimone .content{ text-align: center; }

#patrimone #slide_1 .content{width:239px; margin:auto; margin-top: 6% }

#patrimone #slide_2 .content{ width:271px; margin: auto;  }

#patrimone #slide_3 .content{width:239px; margin:auto; margin-bottom: 6% }

#patrimone .content .titre{ min-width:240px; border-bottom:2px solid #ffffff }

#patrimone .content .border{

    height:60px; 
    padding:4px 0 0 0;
    text-align:center;
    border:1px solid #696d70;
    border:1px solid rgba(255,255,255,0.4);
    border-bottom:0;
    background:url(../../images/bg-titre-patrimoine.png) repeat;
}


#patrimone .content .titre h2{
    font-size:22px;
    font-family: 'Georgia';
    letter-spacing:2px;
}
#patrimone .content .titre span{
    font-size:12px;
    color:#cfa75a;
    font-family: 'Source Sans Pro';
}
.patrimoine_slides .content p{
    display:block;
    margin-top:16px;
    font-size:13px;
    color:#ffffff;
    font-family: 'Source Sans Pro';
    line-height:14px;
}
.patrimoine_slides .content p em{
    font-family: 'Source Sans Pro';
}
#patrimone .content a.lire_suite{
    height:22px;
    line-height:22px;
    display:inline-block;
    margin:15px auto 0 auto;
    padding-right:29px;
    font-size:12px;
    color:#cfa75a;
    font-family: 'Source Sans Pro';
    letter-spacing:1px;
    text-decoration:none;
    text-align:right;
    background:url(../../images/bt-lire-la-suite.png) no-repeat right top;
}
/*************************************/
/*         Page Collection           */
/*************************************/

#collection .collection-home{
    width:1170px;
    margin:0 auto;
}

.collection-home .menu_collection{
    width:1170px;
    height:46px;
    margin: auto;
}


.collection-home .menu_collection li{
    width:126px;
    height:46px;
    margin-left:41px;
    float:left;
}
.collection-home .menu_collection li#marc_2{
    margin-left:20px !important;
}
.collection-home .menu_collection li a{
    width:126px;
    height:28px;
    padding-top:16px;
    text-align:center;
    display:block;
    font-size:9px;
    font-family: 'Source Sans Pro';
    text-transform:uppercase;
    line-height:11px;
    border-bottom:2px solid transparent;
}

.collection-home .menu_collection li a span{
    font-size:11px;
    display:block;
    font-family: 'Georgia';
}



.collection-home .menu_collection li a.creme_cassis:hover, .collection-home .menu_collection li a.activeCassis{
    border-bottom:2px solid #700129;
}

.collection-home .menu_collection li a.creme_fruits:hover, .collection-home .menu_collection li a.activeFruits{
    border-bottom:2px solid #ff474c;
}

.collection-home .menu_collection li a.aperitifs_tradition:hover, .collection-home .menu_collection li a.activeAperitifs{
    border-bottom:2px solid #d61523;
}

.collection-home .menu_collection li a.eau_vie_tradition:hover, .collection-home .menu_collection li a.activeEau{
    border-bottom:2px solid #acacac;
}

.collection-home .menu_collection li a.marc_fine_bourgone:hover, .collection-home .menu_collection li a.activeMarc{
    border-bottom:2px solid #d9af5e;
}

.collection-home .content, .degustation-home .content{
    max-width:1170px;
    margin:0 auto;
}

#collection .collection-home .content{
    padding-top:0px;
    /*margin-left:23px;*/
}

.collection-home .content .block{
    width:167px;
    float:left;
    height:484px;
    padding-top:35px;
    position:relative;
}

.collection-home .content .block .blockDesc{
    width:167px;
    height:445px;
    display:block;
    overflow:hidden;
    position:absolute;
    left:0;
    top:32px;
}

.collection-home .content .block img{
    cursor:pointer;
}

.collection-home .content .block a.plus{
    width:39px;
    height:39px;
    display:block;
    position:absolute;
    left:66px;
    bottom:0;
}

.collection-home .content .block .desc_collections{
    width:129px;
    height:445px;
    padding:19px;
    position:absolute;
    left:0;
    top:-483px;
    overflow:hidden;
    background:url(../../images/bg-description-collection.png) repeat-y right top;
}

.collection-home .content .block .scroll{
    width:129px;
    height:389px;
    overflow:hidden;
}

.desc_collections li{
   display: block;
    font-size: 11.5px;
    padding: 5px 0;
    text-transform: uppercase;

}

.desc_collections li a{
    color:#ffffff;
    font-family: 'Source Sans Pro';
}

.desc_collections li a:hover{
    color:#ffab21;
}


.block_fruits .desc_collections li a:hover{
    color:#ff474c;
}

.block_aperitifs .desc_collections li a:hover{
    color:#d61523;
}

.block_eau .desc_collections li a:hover{
    color:#acacac;
}

.block_marc .desc_collections li a:hover{
    color:#d9af5e;
}

/*************************************/
/*      Page Collection Produits     */
/*************************************/

#camera_wrap_1 .visuel{
    width:422px;
    height:575px;
    float:left;
    position:relative;
}

#camera_wrap_1 .visuel h2{
    width:201px;
    text-align:right;
    position:absolute;
    top:133px;
    left:95px;
    font-size:24px;
    color:#dd7012;
    font-family: 'DIN-Bold';
    font-weight:normal;
    padding-bottom:5px;
    background:url(../../images/bg_titre.jpg) no-repeat right bottom;
}

#camera_wrap_1 .visuel h2 a{
    color:#dd7012;
}

#camera_wrap_1 .description{
    width:422px;
    height:495px;
    float:left;
    position:relative;
    padding:80px 0 0 34px;
}

#camera_wrap_1 .description p{
    width:410px;
    font-size:11px;
    color:#ffffff;
    text-align:justify;
    font-family: 'Georgia';
    line-height:18px;
}

#camera_wrap_1 .description p.marge9{
    margin-bottom:9px;
}

#camera_wrap_1 .description p span{
    color:#dd7012;
    font-weight:bold;
}

#camera_wrap_1 .description h3{
    color:#dd7012;
    font-size:16px;
    margin-bottom:17px;
    padding-bottom:17px;
    text-transform:uppercase;
    font-family: 'Georgia';
    border-bottom:1px solid #ffffff;
}

#camera_wrap_1 .description .link-produits{
    position:absolute;
    right:0px;
    bottom:100px;

}

#camera_wrap_1 .description .link-produits a{
    height:29px;	
    float:left;
    font-size:13px;
    font-family: 'Georgia';
    margin-right:2px;
    background:url(../../images/btn-produits.jpg) no-repeat left top;/*
    background-image:linear-gradient(60deg, #142630, #021620);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#142630',endColorstr='#021620',GradientType=0);*/
}

#camera_wrap_1 .description .link-produits a span{
    padding:0 10px 0 20px;
    height:29px;
    line-height:29px;
    color:#ffffff;
    background:url(../../images/puce-link-produits.png) no-repeat 10px center;
}

.note-degustation, .note-elaboration{
    display:none;
}

/*************************************/
/*         Page Degustation          */
/*************************************/

.menu_degustation{
	width:100%;
	height:35px;
}

#degustation .menu_degustation{
	background: url(../../images/degustation_submenu.png) no-repeat center;
}

.menu_degustation ul{
	width:100%;
	height:35px;
	text-align:center;
	margin: auto
}
.scrollMenu ul{
	margin-left:0;
}
.icons a.telecharger{
		display:none;
}
.menu_degustation li{
	/*height:35px;*/
	display:inline;
	position:relative;
        padding: 5px 0;
}

.menu_degustation li a{
	height:25px;
	padding:10px 10px 0 10px;
	display:inline-block;
	font-size:11px;
	font-family: 'Georgia';
	text-transform:uppercase;
	font-weight:bold;
	text-align:left;
}

.menu_degustation li a:hover, .menu_degustation li a.active{
	background:url(../../images/bg-lien-degustation.png) no-repeat center 24px;
}

.degustation-home .menu_degustation li .scrollMenu{
	position:absolute;
	right:-33px; 
	display:none;
	top:35px;
	padding:18px;
	width:137px;
	height:594px;
	z-index:99999;
	background:url(../../images/bg-ss-menu.png) no-repeat left top;
}

.degustation-home .menu_degustation li ul.subMenu{
	width:137px;
	height:594px;
	overflow:auto;
}

.degustation-home .menu_degustation li ul.subMenu li{
	display:block;
	/*margin:5px 0;
	height:20px;*/
	text-align:left;
}

.degustation-home .menu_degustation li ul.subMenu li a{
	/*display:block;*/
	padding:0;
	height:inherit;
	font-size:11px;
	font-family: 'Source Sans Pro';
	font-weight:normal;
	text-transform:uppercase;
	text-align:left;
}

.degustation-home .menu_degustation li ul.subMenu li a:hover{
	color:#ddd;
	background:none;
}

.menu_degustation .jspDrag {
background: #fff!important;
}

#degustation .degustation-home .content{
	position:relative;
	background:url(../../images/degustation_overlay.png) no-repeat center;
}

.degustation-home .content .parralax{
	position: relative;
	display: table;
	height: 100%;
	width: 100%;
}

.degustation-home .content .sh{
	display: table-cell;
	text-align: center;
	height: 100%;
	vertical-align: middle;
}

#degustation-produits .content{
	padding-top:0;
	width:1094px;
	height:630px;
        margin:auto;
}

#degustation-produits .degustation-home{
	width:1170px;
	margin:0 auto;
}

.degustation-home .content h2{
	text-align:center;
	font-size:56px;
	color:#ffffff;
	font-weight:bold;
	font-family: 'Georgia';
	text-transform:uppercase;
	margin-bottom: 10%;
	position: relative;
	height: 92px
}

.degustation-home .content h2 b{
	position: absolute;
	top: 0;
	left: 0%;
	width: 100%;
}

.degustation-home .content h2 span{
	display:block;
	font-size:14px;
	font-weight:normal;
	margin-bottom:10px;
}

.degustation-home .content a.entrer{
	width:30px;
	display:inline-block;
	padding:0 36px 0 0;
	height:22px;
	line-height:22px;
	color:#ffffff;
	font-size:12px;
	font-family: 'Source Sans Pro';
	background:url(../../images/bg-entrer.png) no-repeat right top;
}

.degustation-home .content a.next{
	width:116px;
	height:116px;
	display:block;
	position:absolute;
	right:0;
	top:244px;
	background:url(../../images/bg-next-degustation.png) no-repeat center;
	top: 50%;
	margin-top: -60px;
}
.degustation-home .content a.prev{
	width:116px;
	height:116px;
	display:block;
	position:absolute;
	left:0;
	top:244px;
	background:url(../../images/bg-prev-degustation.png) no-repeat center;
	top: 50%;
	margin-top: -60px;
	display: none
}

#slideshow-1{
	position:relative;
    width: 977px;
	height:577px;
    padding: 0px 58px;
}

#slideshow-1 .cycle-next {
	position:absolute;
    top: 243px;
    right: 0px;
    width: 116px;
    height: 116px;
    cursor: pointer;
    background: url(../../images/suiv-degustation.png) no-repeat;
	z-index:12;
}

#slideshow-1 .cycle-prev {
	position:absolute;
    top: 243px;
    left: 0px;
    width: 116px;
    height: 116px;
    background: url(../../images/prev-degustation.png) no-repeat;
	z-index:12;
}

#cycle-1 {
	z-index:1;
	display: none
}

#cycle-1 .cycle-slide{
	display: none;
	background-color: #fff
}

#slideshow-1 img{
	position:relative;
	z-index:1;
}

#slideshow-1 .description{
	width:430px;
	position:absolute;
	left:131px;
	top:82px;
	z-index:10
}

#slideshow-1 .description h3{
	font-size:28px;
	font-weight:bold;
	color:#2f383e;
	font-family: 'Georgia';
}

#slideshow-1 .imageNoir .description h3{
	color:#ffffff;
}

#slideshow-1 .description .text{
	font-size:13px;
	color:#2f383e;
	font-family: 'Georgia';
	padding-top:20px;
	line-height:20px;
}

#slideshow-1 .description .text span{
	font-weight:bold;
	color:#2f383e;
}

#slideshow-1 .imageNoir .description .text, #slideshow-1 .imageNoir .description .text span, #slideshow-1 .imageNoir .desconly .text,
#slideshow-1 .imageNoir .description .text p, #slideshow-1 .imageNoir .description .text span, #slideshow-1 .imageNoir .desconly .text .p1,
#slideshow-1 .imageNoir .description .text .p2{
	color:#ffffff !important;
}

#slideshow-1 .description .sep{
	width:274px;
	height:1px;
	display:block;
	margin-top:25px;
	background:#e2e3e4;
}

#slideshow-1 .description h4{
	font-size:16px;
	font-weight:bold;
	color:#2f383e;
	font-family: 'Georgia';
	margin-top:25px;
}

#slideshow-1 .imageNoir .description h4{
	color:#ffffff;
}

#slideshow-1 .description .icons{
	padding-top:20px;
}

#slideshow-1 .description .icons a{
	width:22px;
	height:22px;
	display:block;
	float:left;
	margin-left:7px;
	background-position:left top;
}

#slideshow-1 .imageNoir .description .icons a{
	background-position:left bottom;
}

#slideshow-1 .description .icons a.facebook{
	background-image:url(../../images/facebook.png);
}

#slideshow-1 .description .icons a.telecharger{
	background-image:url(../../images/telecharger.png); display:none;
}

#slideshow-1 .description .icons a.imprimer{
	background-image:url(../../images/imprimer.png);
}



#slideshow-2{
	position:relative;
    width: 711px;
	height:37px;
    padding:0 22px;
	margin:0 auto;
}

#slideshow-2 .cycle-next {
	position:absolute;
    top: 14px;
    right: 0px;
    width: 5px;
    height: 13px;
    cursor: pointer;
    background: url(../../images/suiv2.png) no-repeat;
	z-index:12;
}

#slideshow-2 .cycle-prev {
	position:absolute;
    top: 14px;
    left: 0px;
    width: 5px;
    height: 13px;
    background: url(../../images/prev2.png) no-repeat;
	z-index:12;
}

#cycle-2 {
	z-index:1;
	height:37px;
}

#cycle-2 .cycle-slide{
	width:auto!important;
	margin-right:5px;
}

#cycle-2 .cycle-slide img{
	border:1px solid #cccccc;
	width:72px;
	height:27px;
}

#cycle-2 .cycle-slide-active img{
	width:72px;
	height:35px;
	margin-top:0;
}

.caroubas{
	width:977px;
	height:41px;
	margin:2px auto 0 auto;
	padding:5px 0;
}

.carouNoir{
	background:#000000;
}

/*************************************/
/*           Espace Pro              */
/*************************************/

.pro-home{
    width:1220px;
    margin:0 auto;
    padding-top:51px;
}

#nav { display: block; margin: 0; padding: 0; position: relative; }
#nav li { display: block; margin: 0; padding: 0;  position: relative; }
#nav a { display: block; }
#nav li ul { display: none; position: absolute; left: 240px; top:0; margin: 0; padding: 0; }
* html #nav ul { line-height: 0; } /* IE6 "fix" */
#nav ul a { zoom: 1; } /* IE6/7 fix */
#nav li ul li ul { top: 0; left:230px; }

/* Essentials - configure this */

/* Everything else is theming */

#nav { width:240px; float:left; z-index:100; }
#nav *:hover { background-color: none; }
#nav ul { top: 0px; }

#nav li a {
    width:219px;
    height:31px;
    line-height:31px;
    margin-bottom:5px;
    padding-left:9px;
    color:#9aa6b2;
    font-size:11px;
    font-weight:bold;
    font-family: 'Georgia';
    text-transform:uppercase;
    border:1px solid #53616c;
    background:url(../../images/puce-pro.png) no-repeat 200px center;
}

#nav li a:hover {
    color:#ffffff;
}

#nav li a.ui-state-active, #nav li a.ui-state-focus {
    background:url(../../images/puce-pro-active.png) no-repeat 200px center;
    color:#ffffff;
}
#nav li a.deuxLignes {
    height:26px;
    line-height:11px;
    padding-top:5px;
}

#nav li ul {
    width:220px;
    padding:0 4px;
    border:1px solid #53616c;
    background:#171c20;
    /*background:url(../../images/bg-detail-produit.png) repeat;*/
}

#nav li ul li{
    width:220px;
    height:41px;
    border-bottom:1px solid #53616c;
}

#nav li ul li:last-child{
    border-bottom:none;
}

#nav li ul li a {
    width:220px;
    height:32px;
    line-height:14px;
    margin-bottom:0px;
    padding:7px 0 0 0;
    color:#ffffff;
    font-size:11px;
    font-weight:bold;
    font-family: 'Georgia';
    text-transform:uppercase;
    text-align:center;
    border:none;
    border-bottom:2px solid transparent;
    background:none;
}

#nav li ul li a:hover {
    border-bottom:2px solid #CCC;
		color:#CCC;
}

#nav li ul li a.ui-state-active, #nav li ul li a.ui-state-focus {
   border-bottom:2px solid #CCC;
		color:#CCC;
}

#nav li ul li ul {
    width:160px;
    padding:0 5px;
    border:1px solid #53616c;
    left:235px!important;
}

#nav li ul li ul li{
    width:160px;
    height:inherit;
    border:none;
}

#nav li ul li ul li a {
    width:150px;
    height:inherit;
    line-height:18px;
    margin-bottom:0px;
    padding:0 0 0 10px;
    color:#ffffff;
    font-size:11px;
    font-weight:bold;
    font-family: 'Georgia';
    text-transform:uppercase;
    text-align:left;
    border:none;
    display:inline;
}

#nav li ul li ul li a:hover {
    border:none;
    color:#CCC;
}

.espacePro{
    margin:0 auto;
    padding:0;
    padding-top: 40px;
}

.espacePro h2{
    height:20px;
    line-height:20px;
    padding:0;
    color:#ddd;
    font-size:11px;
    font-family: 'Georgia';
    text-transform:uppercase;
    margin: auto;
    text-align: center;
    font-weight: normal;
}

.espacePro h2 img{ vertical-align: middle; }
.espacePro h2.contact{
    width:528px;
    padding:0;
    text-align:center;
    background:url(../../images/bg-titre-contact.png) no-repeat;
}

.espacePro p{
    padding:0;
    text-align:center;
    font-size:10px;
    color:#9aa6b2;
    line-height:24px;
    margin-top:80px;
    letter-spacing: 1px
}

#formIdentification{
    width:326px;
    margin:auto
}


#formIdentification .input{
    width:304px;
    height:26px;
    line-height:26px;
    margin-top:4px;
    padding:0 10px;
    color:#9aa6b2;
    font-size:10px;
    font-family: 'Georgia';
    text-transform:uppercase;
    border:1px solid #535a5e;
    background:none;
    letter-spacing: 1px;
}

#formIdentification a{
    height:16px;
    line-height:16px;
    margin-top:4px;
    display:block;
    color:#737d84;
    font-size:10px;
    font-family: 'Georgia';
    margin-left: 0!important;
	text-align: right;
}

#formIdentification a:hover{
    text-decoration:underline;
}

#formIdentification a.demand-d-acces{
    padding-right: 26px
}

#formIdentification .submit{
    width:39px;
    height:16px;
    line-height:16px;
    margin:4px 0 0 6px;
    float:right;
    display:block;
    color:#fff;
    font-size:10px;
    font-family: 'Georgia';
    text-transform:uppercase;
    cursor:pointer;
    border:none;
    background:#3e4951;
}

#formAcces{
    width:326px;
    margin:auto;
    margin-top: 10px
}

#formContact{
    width:528px;
    margin:60px auto 0 auto;
}

#formAcces h3{
    margin-bottom:10px;
    display:block;
    color:#ffffff;
    font-size:10px;
    text-align:center;
    text-transform:uppercase;
    font-family: 'Georgia';
    letter-spacing:1px;
    font-weight:normal;
}

#formAcces h3.noCenter{
    margin:20px 0 20px 0;
    padding-left:10px;
    color:#fff;
    text-align:left;
}

#formAcces h3.noCenter.message{
    margin:20px 0 5px 0;
}

#formAcces .input, #formContact .input{
    width:304px;
    height:26px;
    line-height:26px;
    margin-top:4px;
    padding:0 10px;
    color:#9aa6b2;
    font-size:11px;
    font-family: 'Georgia';
    text-transform:uppercase;
    border:1px solid #535a5e;
    background:none;
    letter-spacing: 1px
}

#formContact .input{
    margin:4px auto 0 auto;
    display:block;
}

#formAcces textarea, #formContact textarea{
    width:314px;
    height:78px;
    padding:5px;
    color:#9aa6b2;
    font-size:10px;
    font-family: 'Georgia';
    border:1px solid #535a5e;
    background:none;
}

#formContact textarea{
    margin:4px auto 0 auto;
    display:block;
}

#formContact textarea{
    width:304px;
    margin-top:4px;
    padding:5px 10px;
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 1px
}

#formAcces .checkbox{
    float:left;
    margin-top:4px;
}

#formAcces .conditions{
    width:303px;
    margin-top:4px;
    display:block;
    color:#9aa6b2;
    font-size:9px;
    font-style:italic;
    font-family: 'Georgia';
    float:left;
    padding-left:10px;
    text-align:justify;
    letter-spacing:1px;
}

#formAcces label{
    margin-top:4px;
    color:#9aa6b2;
    font-size:10px;
    text-transform:uppercase;
    font-family: 'Georgia';
    padding:0 21px 0 7px;
    float:left;
}

#formAcces label.last{
    padding:0 0 0 10px;
}

#formAcces a.passeOubli{
    height:15px;
    line-height:16px;
    margin-top:4px;
    float:right;
    display:block;
    color:#737d84;
    font-size:10px;
    font-family: 'Georgia';
}

#formAcces a.passeOubli:hover{
    text-decoration:underline;
}

#formAcces .submit{
    width:39px;
    height:16px;
    line-height:16px;
    margin:10px 0 0 6px;
    float:right;
    display:block;
    color:#fff;
    font-size:11px;
    font-family: 'Georgia';
    text-transform:uppercase;
    cursor:pointer;
    border:none;
    background:#3e4951;
}

#formContact .valider{
    width:528px;
    height:31px;
    margin-top:64px;
    background:url(../../images/bg-titre-contact.png) no-repeat left center;
}

#formContact .submit{
    width:144px;
    height:29px;
    line-height:29px;
    margin:0 auto;
    display:block;
    color:#ffffff;
    font-size:11px;
    font-family: 'Georgia';
    text-transform:uppercase;
    cursor:pointer;
    border:1px solid #858c91;
    background:#3e4951;
}

.pro-home .content{
    width:900px;
    float:right;
}

.pro-home .content h2{
    font-size:14px;
    font-weight:normal;
    padding:0 0 20px 101px;
    text-transform:uppercase;
}

.pro-home .content .textAccueil{
    width:604px;
    padding-top:100px;
}

.pro-home .content .textAccueil p{
    padding-top:50px;
    text-align:center;
    color:#ffffff;
    font-size:15px;
    font-family: 'Georgia';
}

.pro-home .content .textAccueil p.titre{
    text-transform:uppercase;
    font-size:14px;
}

.pro-home .content .textAccueil p.nom{
    text-transform:uppercase;
    font-size:24px;
    font-weight:bold;
}

#mycarousel li ul{
    width: 782px;
    height:480px;
}

#mycarousel li ul li{
    width: 201px;
    height:133px;
    float:left;
    margin:0 0 25px 46px;
}

#mycarousel li ul li h3{
    color:#ffffff;
    font-size:11px;
    font-family: 'Georgia';
    text-transform:uppercase;
    font-weight:normal;
    letter-spacing:1px;
}

#mycarousel li ul li .visuel{
    width: 201px;
    height:104px;
    margin-top:5px;
    padding:5px 0;
    border-top:1px solid #53616c;
    border-bottom:1px solid #53616c;
}

#mycarousel li ul li .visuel a{
    width: 201px;
    height:104px;
    position:relative;
    overflow:hidden;
    display:block;
}

#mycarousel li ul li .visuel a .lienProduit{
    width: 201px;
    height:58px;
    padding-top:46px;
    position:absolute;
    left:0;
    top:104px;
    color:#36424a;
    font-size:12px;
    font-family: 'Source Sans Pro';
    text-align:center;
    text-transform:uppercase;
    background:url(../../images/bg-detail-produit.png) repeat;
}

.blockTelecharge{
    width:982px;
    height:38px;
    margin:60px 0 0 268px;
    text-align:center;
    background:url(../../images/bg-telecharger-pro.png) no-repeat center top;
}

.blockTelecharge a{
    display:inline;
    height:38px;
    line-height:38px;
    color:#ffffff;
    font-size:11px;
    font-family: 'Georgia';
    margin-right:20px;
    padding-left:24px;
    background:url(../../images/bt-telecharger.png) no-repeat left center;
}

.detailVisuel{
    width:308px;
    height:554px;
    float:left;
    border:1px solid #54626d;
}

.detailDescript{
    width:572px;
    float:left;
    padding-left:12px;
}

.detailDescript h3{
    color:#ffffff;
    font-size:13px;
    font-family: 'Georgia';
    text-transform:uppercase;
}

.detailDescript h3 span{
    color:#fdab21;
    font-family: 'DIN-bold';
    font-weight:normal;
}

.detailDescript p{
    width:572px;
    color:#ffffff;
    font-size:14px;
    line-height:17px;
    font-family: 'Georgia';
    padding:40px 0 30px 0;
}

.detailDescript a.telecharger{
    height:20px;
    line-height:20px;
    color:#ffffff;
    font-size:11px;
    font-family: 'Georgia';
    margin-top:10px;
    padding-left:24px;
    display:block;
    background:url(../../images/bt-telecharger.png) no-repeat left center;
}

.detailDescript .sep{
    width:572px;
    height:1px;
    margin-top:10px;
    background:#fdab21;
}

.detailDescript ul{
    margin-top:10px;
    padding-left:14px;
}

.detailDescript ul li{
    float:left;
    font-size:12px;
    color:#53616c;
    font-family: 'Source Sans Pro';
}

.detailDescript ul li a{
    display:inline;
    padding:0 10px;
    color:#53616c;
    font-family: 'Source Sans Pro';
    text-transform:uppercase;
}

.detailDescript ul li a:hover{
    color:#ffffff;
}

.scrollMention{
    height:400px;
    overflow:auto;
}

.langues{
    height:24px;
    width:76px;
    float:left;
    margin-top:6px;
    padding-right:14px;
    background:url(../../images/bg-langues.gif) no-repeat right top;
}

.dropdown{
    width:76px;
    line-height:24px;
    height:24px;
    margin:0;
    padding:0;
    display:block;
    font:13px Arial, Helvetica, sans-serif;
    color:#fff;
    text-decoration:none;
    position:relative;
}

.dropdown dd, .dropdown dt, .dropdown ul{ 
    margin:0px;
    padding:0px; 
}

.dropdown dt{
    width:76px;
    height:24px;
}
.dropdown dd{ 
    position:relative; 
}
.dropdown a, .dropdown a:visited{
    color:#ffffff; 
    text-decoration:none; 
    outline:none;
}
.dropdown a:hover{
    color:#ffffff;
}
.dropdown dt a:hover{
    color:#ffffff; 
}
.dropdown dt a{
    background:url(../../images/puce-langue.jpg) no-repeat center right;
    display:block; 
    width:76px;
    font-size:10px;
}
.dropdown dt a span{
    width:76px;
    height:24px;
    line-height:24px;
    cursor:pointer; 
    display:block; 
    color:#FFF;
    font-family: 'Source Sans Pro';
}
.dropdown dd ul{
    color:#ffffff; 
    display:none;
    left:0px; 
    padding:5px 0px; 
    position:absolute; 
    top:2px; 
    width:76px; 
    list-style:none;
    font-size:11px;
    background:#364249;
}
.dropdown span.value{
    display:none;
}
.dropdown dd ul li a{
    display: block;
    font-family: arial;
    font-size: 10px;
    padding: 5px 0 5px 2px;

}

.dropdown img.flag{
    border:none; 
    vertical-align:middle; 
    margin-left:12px; 
}

#form_dateNaissance{
    clear: both;
    width:340px;
}

#form_dateNaissance select{
padding: 0 3px
}

#form_dateNaissance .jqTransformSelectWrapper{
    float: left;
    margin-right: 30px;
}

#form_dateNaissance .jqTransformSelectWrapper div span{ 
	font-size: 15px;
	text-align: center;
	line-height: 22px; 
	padding: 0 4px
}

@media only screen and (max-width: 900px) 
{
	.recherche-form{ display: none; }
	.video-home > a, .news-home > a{ display: none }
	.video-home{ margin-left: 10px }
}

@media print { 
 .header, .footer, .cycle-next, .cycle-prev, .menu_degustation{ display: none !important; } 
 .desconly, .jspContainer  { overflow: visible !important }
}


.degustation-home .jspPane p>a {
	color:#000;
}
