{% extends "espace-pro/layout.html.twig" %}
{% block body %}
    <div id="contenu-right" class="accueil-pro responsive">
        <div id="text-container">
            <h1>{{ "Bienvenue sur l’espace professionnel" |trans }}</h1>
            <p>{{ "Vous trouverez ici" |trans }}<br>
            {{ "toutes les informations et fichiers nécessaires" |trans }}<br>
            {{ "concernant la Maison Joseph Cartron." |trans }}</p>
        </div>
    </div>
{% endblock %}
